<%@ CodeTemplate Language="C#"
    Name="Properties.CompoundObjectPropertyInitialisation"
    ClassName="Kistl.Generator.Templates.Properties.CompoundObjectPropertyInitialisation"
    Inherits="Kistl.Generator.ResourceTemplate" %>
<%@ Import Namespace="System" %>
<%@ Import Namespace="Kistl.API" %>
<%@ Import Namespace="Kistl.API.Server" %>
<%@ Import Namespace="Kistl.App.Base" %>
<%@ Import Namespace="Kistl.App.Extensions" %>
<%@ Import Namespace="Kistl.Generator" %>
<%@ Import Namespace="Kistl.Generator.Extensions" %>
<%@ Parameter Name="ctx" Type="IKistlContext" %>
<%@ Parameter Name="implementationTypeName" Type="string" %>
<%@ Parameter Name="propertyName" Type="string" %>
<%@ Parameter Name="backingStoreName" Type="string" %>
            <%= backingStoreName %> = new <%= implementationTypeName %>(false, this, "<%= propertyName %>");