<%@ CodeTemplate Language="C#" 
	Name="Implementation.ObjectClasses.CompoundObjectPropertyTemplate"
	ClassName="Kistl.Server.Generators.ClientObjects.Implementation.ObjectClasses.CompoundObjectPropertyTemplate" 
	Inherits="Kistl.Server.Generators.KistlCodeTemplate" %>
<%@ Import Namespace="System" %>
<%@ Import Namespace="Kistl.API" %>
<%@ Import Namespace="Kistl.API.Server" %>
<%@ Import Namespace="Kistl.App.Base" %>
<%@ Import Namespace="Kistl.App.Extensions" %>
<%@ Import Namespace="Kistl.Server.Generators" %>
<%@ Import Namespace="Kistl.Server.Generators.Extensions" %>
<%@ Parameter Name="ctx" Type="IKistlContext" %>
<%@ Parameter Name="serializationList" Type="Templates.Implementation.SerializationMembersList" %>
<%@ Parameter Name="prop" Type="CompoundObjectProperty" %>
<%@ Parameter Name="name" Type="string" %>
<%

	string backingPropertyName = "_" + name;
	string backingStoreName = "_" + name + "Store";
	
	string coType = prop.GetPropertyTypeString();
	string coImplementationType = coType + Kistl.API.Helper.ImplementationSuffix;

%>
		// <%= this.GetType() %>
        // implement the user-visible interface
        public <%= coType %> <%= name %>
        {
            get { return <%= backingPropertyName %>; }
            set { <%= backingPropertyName %> = (<%= coImplementationType %>)value; }
        }
        
        /// <summary>backing store for <%= name %></summary>
        private <%= coImplementationType %> <%= backingStoreName %>;
        
        /// <summary>backing property for <%= name %>, takes care of attaching/detaching the values</summary>
        private <%= coImplementationType %> <%= backingPropertyName %> {
            get { return <%= backingStoreName %>; }
            set {
<%				if(!prop.IsNullable())
				{
%>				            
                if (value == null)
					throw new ArgumentNullException("value");
<%
				}                
%>
				if (<%= backingStoreName %> != null)
				{
	                <%= backingStoreName %>.DetachFromObject(this, "<%= name %>");
				}
                <%= backingStoreName %> = (<%= coImplementationType %>)value;
				if (<%= backingStoreName %> != null)
				{
	                <%= backingStoreName %>.AttachToObject(this, "<%= name %>");
	            }
            }
		}
<%
        AddSerialization(serializationList, backingPropertyName);
%>  