@model Zetbox.Client.ASPNET.ISearchViewModel
<div>
    @*Use a html input to preserve value roundtip. This is only used by the navigate to buttons to signal paging.
    A search should lead the user back to page 1*@
    <input id="NavigateTo" name="NavigateTo" type="hidden" value="0" />
    @if (Model.ShowPrevPage)
    {
        <button onclick="$('#NavigateTo').val('@Model.PrevPage'); $(this).closest('form').submit(); return false;">Back</button>
    }
    @Model.CountAsText
    @if (Model.ShowNextPage)
    {
        <button onclick="$('#NavigateTo').val('@Model.NextPage'); $(this).closest('form').submit(); return false;">Next</button>
    }
</div>