<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="KistlContext" connectionString="metadata=..\Kistl.Objects\Model.csdl|..\Kistl.Objects\Model.ssdl|..\Kistl.Objects\Model.msl;provider=System.Data.SqlClient;provider connection string='Data Source=.\SQLEXPRESS;Initial Catalog=Kistl;Integrated Security=True;MultipleActiveResultSets=true;'" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<system.serviceModel>
		<!-- Binding -->
		<bindings>
			<wsHttpBinding>
				<binding name="WSHttpBinding_IKistlService" closeTimeout="00:01:00"
				 openTimeout="00:00:10" receiveTimeout="00:10:00" sendTimeout="00:00:10"
				 bypassProxyOnLocal="true" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
				 maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
				 textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
					<security mode="None" />
				</binding>
			</wsHttpBinding>
		</bindings>
		<!-- Client -->
		<client>
			<endpoint address="http://localhost:6666/KistlService" binding="wsHttpBinding"
			 bindingConfiguration="WSHttpBinding_IKistlService" contract="KistlService.IKistlService"
			 name="KistlServiceEndpoint" />
		</client>
		<!-- Server -->
		<behaviors>
			<serviceBehaviors>
				<behavior name="HttpGetBehaviour">
					<serviceMetadata httpGetEnabled="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service name="Kistl.Server.KistlService" behaviorConfiguration="HttpGetBehaviour">
				<endpoint address="http://localhost:6666/KistlService" binding="wsHttpBinding"
						  bindingConfiguration="WSHttpBinding_IKistlService" contract="Kistl.API.IKistlService"
							name="KistlServiceEndpoint">
				</endpoint>
			</service>
		</services>
	</system.serviceModel>
</configuration>