<%@ CodeTemplate Language="C#" 
	Name="Server.ObjectClasses.ListProperty"
	CodeFile="Server.ObjectClasses.ListProperty.cs" 
	ClassName="Kistl.Server.Generators.Templates.Server.ObjectClasses.ListProperty" 
	Inherits="Kistl.Server.Generators.KistlCodeTemplate" %>
<%@ Import Namespace="System" %>
<%@ Import Namespace="Kistl.API" %>
<%@ Import Namespace="Kistl.API.Server" %>
<%@ Import Namespace="Kistl.App.Base" %>
<%@ Import Namespace="Kistl.Server.Generators" %>
<%@ Import Namespace="Kistl.Server.Generators.Extensions" %>

<%@ Parameter Name="type" Type="Type" %>
<%@ Parameter Name="name" Type="String" %>
<%@ Parameter Name="property" Type="Property" %>
<%
    var backingName = MungeNameToBacking(name);

	ApplyAttributeTemplate();
%>
        <%= GetModifiers() %> <%= GetPropertyTypeString() %> <%= name %>
        {
            get
            {
                return <%= backingName %>;
            }
        }
        private <%= GetPropertyTypeString() %> <%= backingName %>;