<%@ CodeTemplate Language="C#" 
    Name="Implementation.TypeBase"
    ClassName="Kistl.Server.Generators.Templates.Implementation.TypeBase" 
    Inherits="Kistl.Server.Generators.KistlCodeTemplate" %>
<%@ Import Namespace="System" %>
<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="System.Linq" %>
<%@ Import Namespace="Kistl.API" %>
<%@ Import Namespace="Kistl.API.Server" %>
<%@ Import Namespace="Kistl.App.Base" %>
<%@ Import Namespace="Kistl.Server.Generators" %>
<%@ Import Namespace="Kistl.Server.Generators.Extensions" %>
<%@ Parameter Name="ctx" Type="IKistlContext" %>
<%@ Parameter Name="DataType" Type="DataType" %>
<%

ApplyGlobalPreambleTemplate();

%>

namespace <%= DataType.Module.Namespace %>
{
    using System;
    using System.Collections;
    using System.Collections.Generic;
    using System.Collections.ObjectModel;
    using System.Linq;
    using System.Text;
    using System.Xml;
    using System.Xml.Serialization;

    using Kistl.API;

<%
    foreach(string ns in GetAdditionalImports())
    {
%>
    using <%= ns %>;
<%
    }
    
    ApplyNamespacePreambleTemplate();
%>

    /// <summary>
    /// <%= DataType.Description %>
    /// </summary>
<%

    var mungedClassName = GetTypeName();

    ApplyClassAttributeTemplate();
%>
    [System.Diagnostics.DebuggerDisplay("<%= DataType.ClassName %>")]
    public class <%= mungedClassName %> <%= GetInheritance() %>
    {
    
		public <%= mungedClassName %>()
		{
<%
            ApplyConstructorTemplate();
%>
        }

<%
        ApplyIDPropertyTemplate();

		// TODO: decouple serializing format from PropertyName order
        foreach(Property p in DataType.Properties.OrderBy(p => p.PropertyName))
        {
%>

        /// <summary>
        /// <%= p.Description %>
        /// </summary>
<%
            ApplyPropertyTemplate(p);
        }

        foreach(var m in MethodsToGenerate().OrderBy(m => m.MethodName))
        {
%>

        /// <summary>
        /// <%= m.Description %>
        /// </summary>
<%
            ApplyMethodTemplate(m);
        }
%>

		public override InterfaceType GetInterfaceType()
		{
			return new InterfaceType(typeof(<%= DataType.ClassName %>));
		}
<%
		ApplyApplyChangesFromMethod();
        ApplyClassTailTemplate();
%>

#region Serializer

<%
		CallTemplate("Implementation.ObjectClasses.SerializerTemplate", ctx,
			SerializerDirection.ToStream, this.MembersToSerialize);
		
		CallTemplate("Implementation.ObjectClasses.SerializerTemplate", ctx,
			SerializerDirection.FromStream, this.MembersToSerialize);
%>

#endregion

    }

<%    
        ApplyNamespaceTailTemplate();
%>

}