/Backup
/bin
/Configs/Local
/DocumentStore/Server
/Kistl.Server.HttpService/Server
/Kistl.Server.HttpService/Bootstrapper
/Kistl.Server.HttpService/Client
/Kistl.Server.HttpService/Common
/Kistl.Complete.suo
/Libs/Kistl
obj
bin
*.csproj.user
*.suo
Bin
/Libs/MSBuildVersioning/Source/MSBuildVersioning/Properties/VersionInfo.cs
VersionInfo.Designer.cs
/Libs/PDFsharp/MigraDoc/code/BuildAll-MigraDoc.sdf
/Libs/PDFsharp/MigraDoc/code/MigraDoc.Rendering/MigraDoc.Rendering.Resources/MigraDoc.Rendering.Resources.vcxproj.user
/Libs/PDFsharp/MigraDoc/code/MigraDoc.RtfRendering/MigraDoc.RtfRendering.resources/MigraDoc.RtfRendering.Resources.vcxproj.user
/Documentation/KistlGuide/tmp
/Kistl.Server.HttpService/Logs/Kistl.Server.Service.log
/Kistl.Server.HttpService/Logs/SchemaReport.log
/Libs/ArebisCGen/Arebis.Installer/Debug/setup.exe
