/Backup
/bin
/Configs/Local*
/Configs/.htpasswd
/Configs/_htpasswd
/DocumentStore/Server
/Zetbox.Server.HttpService/Server
/Zetbox.Server.HttpService/Bootstrapper
/Zetbox.Server.HttpService/Client
/Zetbox.Server.HttpService/Common
/Zetbox.Server.HttpService/Logs
/Zetbox.Complete.suo
/Zetbox.Complete.userprefs
obj
bin
.vs/
*.csproj.user
*.suo
Bin
VersionInfo.Designer.cs
/Documentation/ZetboxGuide/tmp

/packages

/PrepareEnv/Examples/env.xml
/Templates/ProjectTemplates/ZetboxApp/packages/Mono.Security.*
/Templates/ProjectTemplates/ZetboxApp/packages/Npgsql.*

/publish/*.nupkg

/TestResults/Zetbox.Complete.TE.Tests.mdf
/TestResults/Zetbox.Complete.TE.Tests_log.ldf
/UpgradeLog.htm
