/Backup
/bin
/Configs/Local
/DocumentStore/Server
/Kistl.Server.HttpService/Server
/Kistl.Server.HttpService/Bootstrapper
/Kistl.Server.HttpService/Client
/Kistl.Server.HttpService/Common
/Kistl.Complete.suo
/Libs/Kistl
/Libs/PrepareEnv.*
obj
bin
*.csproj.user
*.suo
Bin
VersionInfo.Designer.cs
/Libs/PDFsharp/MigraDoc/code/BuildAll-MigraDoc.sdf
/Libs/PDFsharp/MigraDoc/code/MigraDoc.Rendering/MigraDoc.Rendering.Resources/MigraDoc.Rendering.Resources.vcxproj.user
/Libs/PDFsharp/MigraDoc/code/MigraDoc.RtfRendering/MigraDoc.RtfRendering.resources/MigraDoc.RtfRendering.Resources.vcxproj.user
/Libs/ArebisCGen/Arebis.Installer/Debug/setup.exe
/Libs/PrepareEnv/PrepareEnv/Examples/env.xml
/Documentation/KistlGuide/tmp
/Kistl.Server.HttpService/Logs/Kistl.Server.Service.log
/Kistl.Server.HttpService/Logs/SchemaReport.log
/packages/log4net.2.0.0
/packages/NUnit.2.6.0.12054
/packages/Autofac.2.6.1.841
/packages/Autofac.Wcf.2.6.1.841
/packages/Autofac.Web.2.6.1.841
/packages/PDFsharp-MigraDoc-GDI.1.32.3879.0
/packages/Moq.4.0.10827
/packages/Iesi.Collections.3.2.0.4000
/packages/WPFExtensions.1.0.0
/packages/WPFToolkit.3.5.50211.1
/packages/AjaxControlToolkit.4.1.60501
/packages/NHibernate*
/packages/NuGetPowerTools.0.29
/packages/NUnit.Runners.2.6.0.12051