<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="zetbox" value="https://dev.devcircle.at/api/v4/projects/29/packages/nuget/index.json" />
		<add key="dasz" value="http://office.dasz.at/ngf/nuget" />
	</packageSources>
	<packageSourceCredentials>
		<zetbox>
            <add key="Username" value="nuget-devcircle"/>
            <add key="ClearTextPassword" value="psmwLNyuZQV3GSdCDh_S"/>
		</zetbox>
    </packageSourceCredentials>
</configuration>