<%--
    This file is part of zetbox.

    Zetbox is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as
    published by the Free Software Foundation, either version 3 of
    the License, or (at your option) any later version.

    Zetbox is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU Lesser General Public
    License along with zetbox.  If not, see <http://www.gnu.org/licenses/>.
--%>
﻿<%@ CodeTemplate Language="C#" 
	Name="Properties.CollectionEntryListProperty"
	ClassName="Zetbox.DalProvider.NHibernate.Generator.Templates.Properties.CollectionEntryListProperty" 
	Inherits="Zetbox.Generator.MemberTemplate" %>
<%@ Import Namespace="System" %>
<%@ Import Namespace="Zetbox.API" %>
<%@ Import Namespace="Zetbox.API.Server" %>
<%@ Import Namespace="Zetbox.App.Base" %>
<%@ Import Namespace="Zetbox.Generator" %>
<%@ Import Namespace="Zetbox.Generator.Extensions" %>
<%@ Parameter Name="ctx" Type="IZetboxContext" %>
<%@ Parameter Name="serializationList" Type="Zetbox.Generator.Templates.Serialization.SerializationMembersList" %>
<%@ Parameter Name="name" Type="string" %>
<%@ Parameter Name="exposedCollectionInterface" Type="string" %>
<%@ Parameter Name="referencedInterface" Type="string" %>
<%@ Parameter Name="backingName" Type="string" %>
<%@ Parameter Name="backingCollectionType" Type="string" %>
<%@ Parameter Name="aSideType" Type="string" %>
<%@ Parameter Name="bSideType" Type="string" %>
<%@ Parameter Name="entryType" Type="string" %>
<%@ Parameter Name="providerCollectionType" Type="string" %>
<%@ Parameter Name="relId" Type="Guid" %>
<%@ Parameter Name="role" Type="RelationEndRole" %>
<%@ Parameter Name="eagerLoading" Type="bool" %>
<%@ Parameter Name="serializeRelationEntries" Type="bool" %>
<%@ Parameter Name="entryProxyType" Type="string" %>
<%@ Parameter Name="inverseNavigatorName" Type="string" %>
   		// <%= this.GetType() %>
		<%= GetModifiers() %> <%= exposedCollectionInterface %><<%= referencedInterface %>> <%= name %>
		{
			get
			{
				if (<%= backingName %> == null)
				{
					<%= backingName %> 
						= new <%= backingCollectionType %><<%= aSideType %>, <%= bSideType %>, <%= entryType %>>(
							this, 
							new ProjectedCollection<<%= entryProxyType %>, <%= entryType %>>(
                                () => this.Proxy.<%= name %>,
                                p => (<%= entryType %>)OurContext.AttachAndWrap(p),
                                ce => (<%= entryProxyType %>)((NHibernatePersistenceObject)ce).NHibernateProxy),
<% if (!String.IsNullOrEmpty(inverseNavigatorName)) { %>
                            entry => (IRelationListSync<<%= entryType %>>)entry.<%= role == RelationEndRole.A ? "B" : "A" %>.<%= inverseNavigatorName %>);
<% } else { %>
                            entry => (IRelationListSync<<%= entryType %>>)null);
<% } %>
                    if (<%= name %>_was_eagerLoaded) { <%= name %>_was_eagerLoaded = false; }
				}
				return (<%= exposedCollectionInterface %><<%= referencedInterface %>>)<%= backingName %>;
			}
		}

		private <%= backingCollectionType %><<%= aSideType %>, <%= bSideType %>, <%= entryType %>> <%= backingName %>;
		// ignored, but required for Serialization
        private bool <%= name %>_was_eagerLoaded = false;
<% AddSerialization(serializationList, name, eagerLoading); %>
