<%@ CodeTemplate Language="C#" 
    Name="Properties.SimplePropertyTemplate"
    ClassName="Kistl.Generator.InterfaceTemplates.Properties.SimplePropertyTemplate" 
    Inherits="Kistl.Generator.ResourceTemplate" %>
<%@ Import Namespace="System" %>
<%@ Import Namespace="Kistl.API" %>
<%@ Import Namespace="Kistl.API.Server" %>
<%@ Import Namespace="Kistl.App.Base" %>
<%@ Import Namespace="Kistl.Generator" %>
<%@ Import Namespace="Kistl.Generator.Extensions" %>
<%@ Parameter Name="ctx" Type="IKistlContext" %>
<%@ Parameter Name="prop" Type="Property" %>
<%@ Parameter Name="isReadonly" Type="bool" %>
<%
    string name = prop.Name;
    string type = prop.GetPropertyTypeString();
%>
        [Kistl.API.DefinitionGuid("<%= prop.ExportGuid %>")]
        <%= type %> <%= name %> {
            get;
<%
    if (!isReadonly)
    {
%>
            set;
<%
    }
%>
        }
