<%@ CodeTemplate Language="C#" 
	Name="Properties.SimplePropertyListTemplate"
	ClassName="Zetbox.Generator.InterfaceTemplates.Properties.SimplePropertyListTemplate" 
	Inherits="Zetbox.Generator.ResourceTemplate" %>
<%@ Import Namespace="System" %>
<%@ Import Namespace="Zetbox.API" %>
<%@ Import Namespace="Zetbox.API.Server" %>
<%@ Import Namespace="Zetbox.App.Base" %>
<%@ Import Namespace="Zetbox.Generator" %>
<%@ Import Namespace="Zetbox.Generator.Extensions" %>

<%@ Parameter Name="ctx" Type="IZetboxContext" %>
<%@ Parameter Name="prop" Type="Property" %>
        [Zetbox.API.DefinitionGuid("<%= prop.ExportGuid %>")]
        <%= GetPropertyTypeString() %> <%= GetPropertyName() %> { get; }
