@using Zetbox.Client.Presentables.ValueViewModels

@if (ViewModel != null)
{
	<div class="form-group">
		@ViewModel.Name
		<ContentControl ViewModel="@ViewModel" />
	</div>
}

@code {
	[Parameter]
	public ViewModel? ViewModel { get; set; }

	protected override async Task OnParametersSetAsync()
	{
		await base.OnParametersSetAsync();

		if (ViewModel != null)
		{
			ViewModel.PropertyChanged += (s, e) =>
			{
				switch (e.PropertyName)
				{
					case nameof(ViewModel.Name):
						StateHasChanged();
						break;
				}
			};
		}
	}
}
