<%@ CodeTemplate Language="C#"
    Name="CollectionEntries.CollectionEntryTemplate"
    ClassName="Kistl.Generator.Templates.CollectionEntries.CollectionEntryTemplate"
    Inherits="Kistl.Generator.ResourceTemplate" %>
<%@ Import Namespace="System" %>
<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="Kistl.API" %>
<%@ Import Namespace="Kistl.API.Server" %>
<%@ Import Namespace="Kistl.App.Base" %>
<%@ Import Namespace="Kistl.Generator" %>
<%@ Import Namespace="Kistl.Generator.Extensions" %>
<%@ Parameter Name="ctx" Type="IKistlContext" %>
    // BEGIN <%= this.GetType().FullName %>
<%
    ApplyClassAttributeTemplate();
%>
    [System.Diagnostics.DebuggerDisplay("<%= GetCeClassName() %>")]
    public class <%= GetCeClassName() %> <%= GetInheritance() %>
    {
<% ApplyConstructorTemplate(); %>
<% ApplyClassHeadTemplate(); %>

        /// <summary>
        /// the A-side value of this CollectionEntry
        /// </summary>
<%
    ApplyAPropertyTemplate();
%>

        /// <summary>
        /// the B-side value of this CollectionEntry
        /// </summary>
<%
    ApplyBPropertyTemplate();


    if (IsOrdered())
    {
%>

        /// <summary>
        /// Index into the A-side list of this relation
        /// </summary>
<%
        ApplyAIndexPropertyTemplate();
%>

        /// <summary>
        /// Index into the B-side list of this relation
        /// </summary>
<%
        ApplyBIndexPropertyTemplate();
    }
%>

        #region Serializer

<%
    Serialization.SerializerTemplate.Call(Host, ctx,
        Serialization.SerializerDirection.ToStream, this.MembersToSerialize, true, null);

    Serialization.SerializerTemplate.Call(Host, ctx,
        Serialization.SerializerDirection.FromStream, this.MembersToSerialize, true, null);

    Serialization.SerializerTemplate.Call(Host, ctx,
        Serialization.SerializerDirection.ToXmlStream, this.MembersToSerialize, true, null);

    Serialization.SerializerTemplate.Call(Host, ctx,
        Serialization.SerializerDirection.FromXmlStream, this.MembersToSerialize, true, null);

    if (IsExportable())
    {
        Serialization.SerializerTemplate.Call(Host, ctx,
            Serialization.SerializerDirection.Export, this.MembersToSerialize, false, GetExportGuidBackingStoreReference());

        Serialization.SerializerTemplate.Call(Host, ctx,
            Serialization.SerializerDirection.MergeImport, this.MembersToSerialize, false, GetExportGuidBackingStoreReference());
    }
%>

        #endregion

        public override Type GetImplementedInterface()
        {
            return typeof(<%= GetCeInterface() %>);
        }

        public override void ApplyChangesFrom(IPersistenceObject obj)
        {
            base.ApplyChangesFrom(obj);
            var other = (<%= GetCeClassName() %>)obj;
            var me = (<%= GetCeClassName() %>)this;

<%
            ApplyChangesFromBody();
%>
        }


        public override void ReloadReferences()
        {
            // Do not reload references if the current object has been deleted.
            // TODO: enable when MemoryContext uses MemoryDataObjects
            //if (this.ObjectState == DataObjectState.Deleted) return;
<%
    ApplyReloadReferenceBody();
%>

        }

<%
    ApplyClassTailTemplate();
%>
    }
    // END <%= this.GetType().FullName %>
