<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="servercomponents" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!--
          redirect old versions of the MSBuild Framework to the current implementation 
          See http://social.msdn.microsoft.com/Forums/en-US/msbuild/thread/2772a075-4e2f-42af-9e7a-2228b794368e/
          Specifically, this is needed for the EntityFramework Build Tasks
      -->
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Build.Framework" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
        <bindingRedirect oldVersion="2.0.0.0-2.0.10.0" newVersion="2.0.11.0"/>
      </dependentAssembly>
      <probing privatePath="Common/Core;Common/Core.Generated;Common/Core.Fallback;Common/App.ZBox;Common/App.Ini50;Server/Core;Server/Linux;Server/NH;Server/NH.Generated;Server/NH.Fallback;Server/App.ZBox;Server/App.Ini50"/>
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
    <!--    <trace autoflush="true" />
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="sdt"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "WCFLog.txt" />
        </listeners>
      </source>
    </sources>-->
  </system.diagnostics>
  <system.serviceModel>
    <!-- Binding -->
    <bindings>
      <basicHttpBinding>
        <binding name="Kistl_Service_BasicHttpBinding" maxReceivedMessageSize="6553600">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
          </security>
          <readerQuotas maxStringContentLength="1600000000" maxArrayLength="1600000000" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <!-- Server -->
    <behaviors>
      <serviceBehaviors>
        <behavior name="KistlService_Behaviour">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://squeeze:6666/KistlService" />
          <serviceDebug httpHelpPageEnabled="true" httpHelpPageUrl="http://squeeze:6666/KistlService/Help"
            includeExceptionDetailInFaults="true" />
          <serviceThrottling maxConcurrentSessions="200" />
        </behavior>
        <!-- 
        <behavior name="Kistl.Server.BootstrapperServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        -->
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="KistlService_Behaviour" name="Kistl.Server.KistlService">
        <endpoint address="http://squeeze:6666/KistlService" binding="basicHttpBinding"
          bindingConfiguration="Kistl_Service_BasicHttpBinding" name="KistlService_Endpoint"
          contract="Kistl.API.IKistlService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://squeeze:6666/KistlService" />
          </baseAddresses>
        </host>
      </service>
      <!--
      <service behaviorConfiguration="Kistl.Server.BootstrapperServiceBehavior"
        name="Kistl.Server.BootstrapperService">
        <host>
          <!- -
            No endpoints, will be added in code
            Mono has some troubles with parsing this config section
            - ->
          <baseAddresses>
            <add baseAddress="http://squeeze:6666/" />
          </baseAddresses>
        </host>
      </service>-->
    </services>
  </system.serviceModel>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Kistl.Server.Service.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="1MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <!--
        For usage with Log2Console 
        http://log2console.codeplex.com/
    
    <appender name="RemotingAppender" type="log4net.Appender.RemotingAppender" >
      <sink value="tcp://localhost:7070/LoggingSink" />
      <lossy value="false" />
      <bufferSize value="5" />
    </appender>-->
    <root>
      <level value="INFO" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="TraceAppender" />
      <appender-ref ref="RollingLogFileAppender" />
      <!-- <appender-ref ref="RemotingAppender" />-->
    </root>
    <!-- quiet down very verbose info logging -->
    <logger name="Kistl.Facade">
      <level value="INFO" />
    </logger>
    <logger name="Kistl.Linq">
      <level value="WARN" />
    </logger>
    <logger name="Kistl.Linq.Query">
      <level value="WARN" />
    </logger>
    <logger name="Kistl.Server.Generator.Host">
      <level value="WARN" />
    </logger>
    <logger name="Kistl.Reflection">
      <level value="WARN" />
    </logger>
    <logger name="NHibernate">
      <level value="WARN" />
      <!-- "WARN" recommended for production -->
    </logger>
    <logger name="NHibernate.SQL">
      <level value="WARN" />
    </logger>
  </log4net>
  <!--
  See http://code.google.com/p/autofac/wiki/XmlConfiguration for syntax
  See ServerModule and StoreProvider for overridable things.
  -->
  <servercomponents />

  <!-- See http://npgsql.projects.postgresql.org/docs/manual/UserManual.html "Using Npgsql with ProviderFactory" -->
  <system.data>
    <DbProviderFactories>
      <add name="Npgsql Data Provider"
           invariant="Npgsql"
           support="FF"
           description=".Net Framework Data Provider for Postgresql Server"
           type="Npgsql.NpgsqlFactory, Npgsql, Version=2.0.11.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" />
    </DbProviderFactories>
  </system.data>
</configuration>
