<%@ CodeTemplate Language="C#" 
	Name="Program"
	ClassName="Kistl.Generator.ClickOnce.Templates.Program" 
	Inherits="Kistl.Generator.ResourceTemplate" %>
<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="Kistl.API.Server" %>
<%@ Parameter Name="ctx" Type="Kistl.API.IKistlContext" %>
namespace ClickOnceTest
{
    using System;
    using System.Collections.Generic;
    using System.Linq;
    using System.Text;
    using System.Reflection;
    using System.Windows;
    using System.Security;

    public class Program
    {
        [STAThread]
        public static void Main(string[] args)
        {
            try
            {
                var info = new AppDomainSetup();
                info.ApplicationBase = "ZBox\\Client";
                info.PrivateBinPath = "ZBox\\Client";
                info.ConfigurationFile = "Kistl.Client.WPF.exe.config";
                AppDomain d = AppDomain.CreateDomain("ZBox Client", null, info, new PermissionSet(System.Security.Permissions.PermissionState.Unrestricted));
                d.ExecuteAssembly("ZBox\\Client\\Kistl.Client.WPF.exe");
            }
            catch (Exception ex)
            {
                MessageBox.Show(ex.ToString());
            }
        }
    }
}
