<%@ CodeTemplate Language="C#" 
	Name="Interface.ObjectClassTemplate"
	CodeFile="ObjectClassTemplate.cs" 
	ClassName="Kistl.Server.Generators2.Templates.Interface.ObjectClassTemplate" 
	Inherits="Kistl.Server.Generators2.KistlCodeTemplate" %>
<%@ Import Namespace="System" %>
<%@ Import Namespace="Kistl.API" %>
<%@ Import Namespace="Kistl.API.Server" %>
<%@ Import Namespace="Kistl.App.Base" %>
<%@ Import Namespace="Kistl.Server.Generators" %>
<%@ Import Namespace="Kistl.Server.Generators.Helper" %>

<%@ Parameter Name="objClass" Type="ObjectClass" %>
namespace <%= objClass.Module.Namespace %>
{
    using System;
    using System.Collections.Generic;
    using System.Collections.ObjectModel;
    using System.Linq;
    using System.Text;
    using System.Collections;
    using System.Xml;
    using System.Xml.Serialization;
    using Kistl.API;
    
    
    /// <summary>
    /// <%= objClass.Description %>
    /// </summary>
    public interface <%= objClass.ClassName %> <%= GetBaseClass() %> 
    {
		<% foreach(Property p in objClass.Properties) 
		{
			ApplyPropertyTemplate(p);
		}%>
		
	}
}