<%@ CodeTemplate Language="C#" 
	Name="Interface.ProjectFile"
	ClassName="Kistl.Server.Generators.Templates.Interface.ProjectFile" 
	Inherits="Kistl.Server.Generators.KistlCodeTemplate" %>
<%@ Import Namespace="System.Collections.Generic" %>
<%@ Parameter Name="ctx" Type="Kistl.API.IKistlContext" %>
<%@ Parameter Name="projectGuid" Type="string" %>
<%@ Parameter Name="fileNames" Type="List<string>" %>
<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="3.5" DefaultTargets="Build" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <Configuration Condition=" '$(Configuration)' == '' ">Debug</Configuration>
    <Platform Condition=" '$(Platform)' == '' ">AnyCPU</Platform>
    <ProductVersion>9.0.21022</ProductVersion>
    <SchemaVersion>2.0</SchemaVersion>
    <ProjectGuid><%= projectGuid %></ProjectGuid>
    <OutputType>Library</OutputType>
    <RootNamespace><%= GetAssemblyName() %></RootNamespace>
    <AssemblyName><%= GetAssemblyName() %></AssemblyName>
    <TargetFrameworkVersion>v3.5</TargetFrameworkVersion>
    <FileAlignment>512</FileAlignment>
    <DocumentationFile>$(OutputPath)\<%= GetAssemblyName() %>.xml</DocumentationFile>
  </PropertyGroup>
  <PropertyGroup Condition=" '$(Configuration)|$(Platform)' == 'Debug|AnyCPU' ">
    <DebugSymbols>true</DebugSymbols>
    <DebugType>full</DebugType>
    <Optimize>false</Optimize>
    <DefineConstants>DEBUG;TRACE</DefineConstants>
    <ErrorReport>prompt</ErrorReport>
    <WarningLevel>4</WarningLevel>
    <NoWarn>1591</NoWarn>
    <OutputPath>..\bin\Debug\</OutputPath>
  </PropertyGroup>
  <PropertyGroup Condition=" '$(Configuration)|$(Platform)' == 'Release|AnyCPU' ">
    <DebugType>pdbonly</DebugType>
    <Optimize>true</Optimize>
    <DefineConstants>TRACE</DefineConstants>
    <ErrorReport>prompt</ErrorReport>
    <WarningLevel>4</WarningLevel>
    <OutputPath>..\bin\Release\</OutputPath>
  </PropertyGroup>
  <!-- Has to come later to receive correct $(OutputPath) -->
  <PropertyGroup>
     <DocumentationFile>$(OutputPath)\<%= GetAssemblyName() %>.xml</DocumentationFile>
  </PropertyGroup>
  <ItemGroup>
    <AdditionalReferencePath Include="$(OutputPath)" />
    <Reference Include="System" />
    <Reference Include="System.Core">
      <RequiredTargetFramework>3.5</RequiredTargetFramework>
    </Reference>
    <Reference Include="System.Xml" />
    <Reference Include="Kistl.API" />
<%
	ApplyAdditionalReferences();
%>
  </ItemGroup>
  <ItemGroup>
<%
	foreach (var name in fileNames)
	{
%>
    <Compile Include="<%= name %>" />
<%
	}
%>
  </ItemGroup>
<%
	ApplyAdditionalItemGroups();
%>  
  <Import Project="$(MSBuildBinPath)\Microsoft.CSharp.targets" />
  <!-- To modify your build process, add your task inside one of the targets below and uncomment it. 
       Other similar extension points exist, see Microsoft.Common.targets.
  <Target Name="BeforeBuild">
  </Target>
  -->
  <Target Name="AfterBuild">
    <!--
        clutch for deploying generated assemblies always to the temp output directory
        TODO: split OutputPath into DeployLocation (always absolute, depnding on Builder) and 
        OutputPath (always relative, dependent on Configuration)
    -->
    <Copy SourceFiles="$(TargetDir)$(TargetName).dll;$(TargetDir)$(TargetName).pdb" DestinationFolder="C:\temp\KistlCodeGen\bin\Debug" />
  </Target>
</Project>