<%@ CodeTemplate Language="C#"
    Name="Serialization.SimplePropertyWithDefaultSerialization"
    ClassName="Kistl.Generator.Templates.Serialization.SimplePropertyWithDefaultSerialization"
    Inherits="Kistl.Generator.ResourceTemplate" %>
<%@ Import Namespace="System" %>
<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="Kistl.API" %>
<%@ Import Namespace="Kistl.API.Server" %>
<%@ Import Namespace="Kistl.App.Base" %>
<%@ Import Namespace="Kistl.Generator" %>
<%@ Import Namespace="Kistl.Generator.Extensions" %>
<%@ Parameter Name="ctx" Type="IKistlContext" %>
<%@ Parameter Name="direction" Type="SerializerDirection" %>
<%@ Parameter Name="streamName" Type="string" %>
<%@ Parameter Name="xmlnamespace" Type="string" %>
<%@ Parameter Name="xmlname" Type="string" %>
<%@ Parameter Name="memberType" Type="string" %>
<%@ Parameter Name="memberName" Type="string" %>
<%@ Parameter Name="isSetFlagName" Type="string" %>
<%
    switch(direction)
    {
        case SerializerDirection.ToStream:
%>
            <%= streamName %>.Write(this.<%= isSetFlagName %>);
            if (this.<%= isSetFlagName %>) {
                <%= streamName %>.Write(this.<%= memberName %>);
            }
<%
            break;
        case SerializerDirection.FromStream:
%>
            <%= streamName %>.Read(out this.<%= isSetFlagName %>);
            if (this.<%= isSetFlagName %>) {
                <%= memberType %> tmp;
                <%= streamName %>.Read(out tmp);
                this.<%= memberName %> = tmp;
            }
<%
            break;
        case SerializerDirection.ToXmlStream:
%>
            XmlStreamer.ToStream(this.<%= isSetFlagName %>, <%= streamName %>, "Is<%= xmlname %>Set", "<%= xmlnamespace %>");
            if (this.<%= isSetFlagName %>) {
                XmlStreamer.ToStream(this.<%= memberName %>, <%= streamName %>, "<%= xmlname %>", "<%= xmlnamespace %>");
            }
<%
            break;
        case SerializerDirection.FromXmlStream:
%>
            XmlStreamer.FromStream(ref this.<%= isSetFlagName %>, <%= streamName %>, "Is<%= xmlname %>Set", "<%= xmlnamespace %>");
            if (this.<%= isSetFlagName %>) {
                // yuck
                <%= memberType %> tmp = this.<%= memberName %>;
                XmlStreamer.FromStream(ref tmp, <%= streamName %>, "<%= xmlname %>", "<%= xmlnamespace %>");
                this.<%= memberName %> = tmp;
            }
<%
            break;
        case SerializerDirection.Export:
%>
            System.Diagnostics.Debug.Assert(this.<%= isSetFlagName %>, "Exported objects need to have all default values evaluated");
            if (modules.Contains("*") || modules.Contains("<%= xmlnamespace %>")) XmlStreamer.ToStream(this.<%= memberName %>, <%= streamName %>, "<%= xmlname %>", "<%= xmlnamespace %>");
<%
            break;
        case SerializerDirection.MergeImport:
%>
            // Import must have default value set
            {
                // yuck
                <%= memberType %> tmp = this.<%= memberName %>;
                XmlStreamer.FromStream(ref tmp, <%= streamName %>, "<%= xmlname %>", "<%= xmlnamespace %>");
                this.<%= memberName %> = tmp;
                this.<%= isSetFlagName %> = true;
            }
<%
            break;
        default:
            throw new ArgumentOutOfRangeException("direction");
    }
%>
