<%@ CodeTemplate Language="C#" 
	Name="Implementation.FrozenContextImplementation"
	ClassName="Kistl.Server.Generators.FrozenObjects.Implementation.FrozenContextImplementation" 
	Inherits="Kistl.Server.Generators.KistlCodeTemplate" %>
<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="Kistl.App.Base" %>
<%@ Parameter Name="ctx" Type="Kistl.API.IKistlContext" %>
using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;

using Kistl.API;

namespace Kistl.API.Frozen
{

	public class FrozenContextImplementation
		: IKistlContext
	{
	
	
	}
	
}