<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Hinweis: Alternativ zur manuellen Bearbeitung dieser Datei 
    können Sie auch mit dem Webverwaltungstool die Einstellungen 
    für Ihre Anwendung konfigurieren. Verwenden Sie die Option 
    "Website->ASP.NET-Konfiguration" in Visual Studio. Eine 
    vollständige Liste aller Einstellungen und Kommentare befindet 
    sich in "machine.config.comments", im Allgemeinen unter "\Windows\Microsoft.Net\Framework\v2.x\Config". 
-->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="configFile" value="~/DefaultConfig.xml" />
  </appSettings>
  <connectionStrings />
  <system.web>
    <!-- 
            Legen Sie beim Kompilieren debug="true" fest, um 
            Debugsymbole in die kompilierte Seite einzufügen. 
            Da dies die Leistung beeinträchtigt, sollte der 
            Wert nur beim Entwickeln auf "True" gesetzt werden.
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <!--
            Der Abschnitt <authentication> ermöglicht die Konfiguration 
            des Sicherheitsauthentifizierungsmodus, mit dem 
            ASP.NET eingehende Benutzer identifiziert. 
        -->
    <authentication mode="Windows" />
    <!--
            Der Abschnitt <customErrors> ermöglicht die Konfiguration 
            der Vorgehensweise bei unbehandelten Fehlern während 
            der Anforderungsausführung. Insbesondere können 
            Entwickler HTML-Fehlerseiten konfigurieren, die anstelle 
            einer Fehlerstapelüberwachung angezeigt werden.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages theme="BasicTheme" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="adc" namespace="AjaxDataControls" assembly="AjaxDataControls" />
        <add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
        <add tagPrefix="zetbox" namespace="Zetbox.Client.ASPNET.Toolkit" assembly="Zetbox.Client.ASPNET.Toolkit" />
        <add tagPrefix="uc" tagName="ChooseObjectDialog" src="~/Dialogs/ChooseObjectDialog.ascx" />
      </controls>
    </pages>
    <httpModules>
      <add name="ZetboxContextManagerModule" type="Zetbox.Client.ASPNET.Toolkit.ZetboxContextManagerModule, Zetbox.Client.ASPNET.Toolkit" />
    </httpModules>
  </system.web>
  <!-- 
        Der system.webServer-Abschnitt ist zum Ausführen von ASP.NET-AJAX unter
        Internetinformationsdienste 7.0 erforderlich. Für frühere Versionen von
        IIS ist er nicht erforderlich.
    -->
  <runtime>
    <assemblyBinding appliesTo="v2.0.50727" xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.1.841" newVersion="2.6.1.841" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MigraDoc.DocumentObjectModel" publicKeyToken="f94615aa0424f9eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.31.3066.0" newVersion="1.31.3066.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PdfSharp" publicKeyToken="f94615aa0424f9eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.31.1789.0" newVersion="1.31.1789.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MigraDoc.Rendering" publicKeyToken="f94615aa0424f9eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.31.3066.0" newVersion="1.31.3066.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AjaxControlToolkit" publicKeyToken="28f01b0e84b6d53e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.60501.0" newVersion="3.5.60501.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="QuickGraph" publicKeyToken="f3fb40175eec2af3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.6.61114.0" newVersion="3.6.61114.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="QuickGraph.Graphviz" publicKeyToken="f3fb40175eec2af3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.6.61114.0" newVersion="3.6.61114.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <!-- Binding -->
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IZetboxService_Streamed" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="10:00:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="1600000000" messageEncoding="Mtom" textEncoding="utf-8" transferMode="Streamed" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="1600000000" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None" />
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IZetboxService" closeTimeout="00:01:00" openTimeout="00:00:30" receiveTimeout="10:00:00" sendTimeout="00:00:30" bypassProxyOnLocal="true" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <security mode="None" />
          <readerQuotas maxStringContentLength="1600000000" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <!-- Client -->
    <client>
      <endpoint address="http://localhost:6666/ZetboxService" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IZetboxService" contract="ZetboxService.IZetboxService" name="ZetboxServiceEndpoint" />
      <endpoint address="http://localhost:6666/ZetboxServiceStreams" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IZetboxService_Streamed" contract="ZetboxServiceStreams.IZetboxServiceStreams" name="ZetboxServiceStreamsEndpoint" />
    </client>
    <!-- Server -->
    <behaviors>
      <endpointBehaviors>
        <behavior name="AJAXServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="WorkspaceModelServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="HttpGetBehaviour">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="True" httpHelpPageEnabled="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="HttpGetBehaviour" name="Zetbox.Server.ZetboxService">
        <endpoint address="http://localhost:6666/ZetboxService" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IZetboxService" name="ZetboxServiceEndpoint" contract="Zetbox.API.IZetboxService" />
      </service>
      <service behaviorConfiguration="HttpGetBehaviour" name="Zetbox.Server.ZetboxServiceStreams">
        <endpoint address="http://localhost:6666/ZetboxServiceStreams" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IZetboxService_Streamed" name="ZetboxServiceStreamsEndpoint" contract="Zetbox.API.IZetboxServiceStreams" />
      </service>
      <service name="Zetbox.Client.ASPNET.Toolkit.AJAXService" behaviorConfiguration="HttpGetBehaviour">
        <endpoint address="" behaviorConfiguration="AJAXServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="Zetbox.Client.ASPNET.Toolkit.AJAXService" />
      </service>
      <service name="Zetbox.Client.ASPNET.Toolkit.WorkspaceModelService" behaviorConfiguration="HttpGetBehaviour">
        <endpoint address="" behaviorConfiguration="WorkspaceModelServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="Zetbox.Client.ASPNET.Toolkit.WorkspaceModelService" />
      </service>
    </services>
  </system.serviceModel>
  <log4net>
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="DEBUG" />
        <foreColor value="Cyan" />
      </mapping>
      <mapping>
        <level value="INFO" />
        <foreColor value="White" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Yellow, HighIntensity" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red, HighIntensity" />
      </mapping>
      <mapping>
        <level value="FATAL" />
        <foreColor value="Purple, HighIntensity" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline" />
      </layout>
    </appender>
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="1MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <!--
        For usage with Log2Console 
        http://log2console.codeplex.com/
   
    <appender name="RemotingAppender" type="log4net.Appender.RemotingAppender" >
      <sink value="tcp://localhost:7070/LoggingSink" />
      <lossy value="false" />
      <bufferSize value="5" />
    </appender> -->
    <root>
      <level value="DEBUG" />
      <appender-ref ref="TraceAppender" />
      <appender-ref ref="RollingLogFileAppender" />
      <!-- <appender-ref ref="RemotingAppender" /> -->
    </root>
    <logger name="Zetbox.Facade">
      <level value="WARN" />
    </logger>
    <logger name="Zetbox.Linq">
      <level value="WARN" />
    </logger>
  </log4net>
</configuration>