<%--
    This file is part of zetbox.

    Zetbox is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as
    published by the Free Software Foundation, either version 3 of
    the License, or (at your option) any later version.

    Zetbox is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU Lesser General Public
    License along with zetbox.  If not, see <http://www.gnu.org/licenses/>.
--%>
<%@ CodeTemplate Language="C#" 
    Name="Mappings.CollectionEntriesHbm"
    ClassName="Zetbox.DalProvider.NHibernate.Generator.Templates.Mappings.CollectionEntriesHbm" 
    Inherits="Zetbox.Generator.ResourceTemplate" %>
<%@ Import Namespace="System" %>
<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="System.Linq" %>
<%@ Import Namespace="Zetbox.API" %>
<%@ Import Namespace="Zetbox.API.Server" %>
<%@ Import Namespace="Zetbox.App.Base" %>
<%@ Import Namespace="Zetbox.App.Extensions" %>
<%@ Import Namespace="Zetbox.Generator" %>
<%@ Import Namespace="Zetbox.Generator.Extensions" %>
<%@ Parameter Name="ctx" Type="IZetboxContext" %>
<?xml version="1.0"?>
<hibernate-mapping xmlns="urn:nhibernate-mapping-2.2" 
                   default-cascade="save-update"
                   assembly="Zetbox.Objects.NHibernateImpl">

    <!-- RelationCollectionEntries -->
<%
    foreach (var rel in ctx.GetQuery<Relation>()
        .Where(r => r.Storage == StorageType.Separate)
        .ToList()
        .OrderBy(r => r.GetRelationClassName()))
    {
        var collectionEntryNamespace = rel.Module.Namespace;
        var collectionEntryClassName = rel.GetRelationClassName() + ImplementationSuffix;
        var proxyClassName = rel.GetRelationClassName() + "Proxy";
        var schemaName = rel.Module.SchemaName;
        var tableName = rel.GetRelationTableName();
%>
    <class name="<%= collectionEntryNamespace %>.<%= collectionEntryClassName %>+<%= proxyClassName %>"
           proxy="<%= collectionEntryNamespace %>.<%= collectionEntryClassName %>+<%= proxyClassName %>"
           table="`<%= tableName %>`"
           schema="`<%= schemaName %>`" >

<% IdGeneratorHbm.Call(Host, "id", schemaName, tableName); %>

        <many-to-one name="A"
                     column="`<%= Construct.ForeignKeyColumnName(rel.A) %>`" />
        <many-to-one name="B"
                     column="`<%= Construct.ForeignKeyColumnName(rel.B) %>`" />
<% if (rel.NeedsPositionStorage(RelationEndRole.A)) { %>
        <property name="A<%= Zetbox.API.Helper.PositionSuffix %>"
                    column="`<%= Construct.ListPositionColumnName(rel.B) %>`" />
<% } %>
<% if (rel.NeedsPositionStorage(RelationEndRole.B)) { %>
        <property name="B<%= Zetbox.API.Helper.PositionSuffix %>"
                  column="`<%= Construct.ListPositionColumnName(rel.A) %>`" />
<% } %>
<% if (rel.A.Type.ImplementsIExportable() && rel.B.Type.ImplementsIExportable()) { %>
        <property name="ExportGuid" column="`ExportGuid`" type="Guid" />
<% } %>
    </class>
<% } %>

    <!-- ValueCollectionEntries are defined directly on use -->
<%
   foreach (var prop in ctx.GetQuery<ValueTypeProperty>()
                            .Where(p => p.IsList && !p.IsCalculated)
                            .Where(p => p.ObjectClass is ObjectClass)
                            .ToList()
                            .OrderBy(p => p.ObjectClass.Name)
                            .ThenBy(p => p.Name))
   {
        var collectionEntryNamespace = prop.GetCollectionEntryNamespace();
        var collectionEntryClassName = prop.GetCollectionEntryClassName() + ImplementationSuffix;
        var proxyClassName = prop.GetCollectionEntryClassName() + "Proxy";
        var schemaName = prop.Module.SchemaName;
        var tableName = prop.GetCollectionEntryTable();
        var ceReverseKeyColumnName = Construct.ForeignKeyColumnName(prop);
%>
    <class name="<%= collectionEntryNamespace %>.<%= collectionEntryClassName %>+<%= proxyClassName %>"
           proxy="<%= collectionEntryNamespace %>.<%= collectionEntryClassName %>+<%= proxyClassName %>"
           table="`<%= tableName %>`"
           schema="`<%= schemaName %>`" >

<% IdGeneratorHbm.Call(Host, "id", schemaName, tableName); %>

        <many-to-one name="Parent"
                     column="`<%= ceReverseKeyColumnName %>`" />
<% ValueTypePropertyHbm.Call(Host, String.Empty, prop, "Value", prop.Name, true, ImplementationSuffix, false); %>
<% if (prop.HasPersistentOrder) { %>
        <property name="Value_pos"
                  column="`Index`" />
<% } %>
<% if (((ObjectClass)prop.ObjectClass).ImplementsIExportable()) { %>
        <!-- export guid is not needed since serialization is always "in-place"
        <property name="ExportGuid" column="`ExportGuid`" type="Guid" />
        -->
<% } %>
    </class>

<% } %>
    <!-- CompoundObjectCollectionEntries -->
<%
   foreach (var prop in ctx.GetQuery<CompoundObjectProperty>()
                            .Where(p => p.IsList /* && !p.IsCalculated */)
                            .Where(p => p.ObjectClass is ObjectClass)
                            .ToList()
                            .OrderBy(p => p.ObjectClass.Name)
                            .ThenBy(p => p.Name))
   {
        var collectionEntryNamespace = prop.GetCollectionEntryNamespace();
        var collectionEntryClassName = prop.GetCollectionEntryClassName() + ImplementationSuffix;
        var proxyClassName = prop.GetCollectionEntryClassName() + "Proxy";
        var schemaName = prop.Module.SchemaName;
        var tableName = prop.GetCollectionEntryTable();
        var ceReverseKeyColumnName = Construct.ForeignKeyColumnName(prop);
%>
    <class name="<%= collectionEntryNamespace %>.<%= collectionEntryClassName %>+<%= proxyClassName %>"
           proxy="<%= collectionEntryNamespace %>.<%= collectionEntryClassName %>+<%= proxyClassName %>"
           table="`<%= tableName %>`"
           schema="`<%= schemaName %>`" >

<% IdGeneratorHbm.Call(Host, "id", schemaName, tableName); %>

        <many-to-one name="Parent"
                     column="`<%= ceReverseKeyColumnName %>`" />
<% CompoundObjectPropertyHbm.Call(Host, ctx, String.Empty, prop, "Value", prop.Name, true, ImplementationSuffix); %>
<% if (prop.HasPersistentOrder) { %>
        <property name="Value_pos"
                  column="`Index`" />
<% } %>
<% if (((ObjectClass)prop.ObjectClass).ImplementsIExportable()) { %>
        <!-- export guid is not needed since serialization is always "in-place"
        <property name="ExportGuid" column="`ExportGuid`" type="Guid" />
        -->
<% } %>
    </class>

<% } %>
</hibernate-mapping>
