<%--
    This file is part of zetbox.

    Zetbox is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as
    published by the Free Software Foundation, either version 3 of
    the License, or (at your option) any later version.

    Zetbox is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU Lesser General Public
    License along with zetbox.  If not, see <http://www.gnu.org/licenses/>.
--%>
<%@ CodeTemplate Language="C#" 
    Name="Mappings.CompoundObjectPropertyHbm"
    ClassName="Zetbox.DalProvider.NHibernate.Generator.Templates.Mappings.CompoundObjectPropertyHbm" 
    Inherits="Zetbox.Generator.ResourceTemplate" %>
<%@ Import Namespace="System" %>
<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="System.Linq" %>
<%@ Import Namespace="Zetbox.API" %>
<%@ Import Namespace="Zetbox.App.Base" %>
<%@ Parameter Name="ctx" Type="IZetboxContext" %>
<%@ Parameter Name="prefix" Type="string" %>
<%@ Parameter Name="propName" Type="string" %>
<%@ Parameter Name="columnName" Type="string" %>
<%@ Parameter Name="isList" Type="bool" %>
<%@ Parameter Name="ceClassAttr" Type="string" %>
<%@ Parameter Name="valueClassAttr" Type="string" %>
<%@ Parameter Name="isNullColumnAttr" Type="string" %>
<%@ Parameter Name="ceReverseKeyColumnName" Type="string" %>
<%@ Parameter Name="properties" Type="IEnumerable<Property>" %>
<% if (isList) {                                                                    %>
        <!-- CompoundObjectProperty IsList -->
        <set name="<%= propName %>" inverse="true" batch-size="100">
            <key column="`<%= ceReverseKeyColumnName %>`" />
            <one-to-many <%= ceClassAttr %> />
        </set>
<% } else {                                                                         %>
        <!-- CompoundObjectProperty isValue -->
        <component name="<%= propName %>" <%= valueClassAttr %>>
<%          PropertiesHbm.Call(Host, ctx, prefix + columnName + "_", properties, false);         %>
        </component>
<% }                                                                                %>