<%--
    This file is part of zetbox.

    Zetbox is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as
    published by the Free Software Foundation, either version 3 of
    the License, or (at your option) any later version.

    Zetbox is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU Lesser General Public
    License along with zetbox.  If not, see <http://www.gnu.org/licenses/>.
--%>
<%@ CodeTemplate Language="C#" 
    Name="Mappings.ObjectClassHbm"
    ClassName="Zetbox.DalProvider.NHibernate.Generator.Templates.Mappings.ObjectClassHbm" 
    Inherits="Zetbox.Generator.ResourceTemplate" %>
<%@ Import Namespace="System" %>
<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="System.Linq" %>
<%@ Import Namespace="Zetbox.API" %>
<%@ Import Namespace="Zetbox.API.Server" %>
<%@ Import Namespace="Zetbox.App.Base" %>
<%@ Import Namespace="Zetbox.App.Extensions" %>
<%@ Import Namespace="Zetbox.Generator" %>
<%@ Import Namespace="Zetbox.Generator.Extensions" %>
<%@ Parameter Name="ctx" Type="IZetboxContext" %>
<%@ Parameter Name="interfaceName" Type="string" %>
<%@ Parameter Name="implementationName" Type="string" %>
<%@ Parameter Name="schemaName" Type="string" %>
<%@ Parameter Name="tableName" Type="string" %>
<%@ Parameter Name="qualifiedImplementationName" Type="string" %>
<%@ Parameter Name="isAbstract" Type="bool" %>
<%@ Parameter Name="properties" Type="List<Property>" %>
<%@ Parameter Name="subClasses" Type="List<ObjectClass>" %>
<%@ Parameter Name="needsRightsTable" Type="bool" %>
<%@ Parameter Name="needsConcurrency" Type="bool" %>
<%@ Parameter Name="qualifiedRightsClassName" Type="string" %>
<?xml version="1.0"?>
<hibernate-mapping xmlns="urn:nhibernate-mapping-2.2" 
                   default-cascade="save-update" >
    <class name="<%= qualifiedImplementationName %>"
           proxy="<%= qualifiedImplementationName %>"
           schema="`<%= schemaName %>`"
           table="`<%= tableName %>`"
           abstract="<%= isAbstract ? "true" : "false" %>"
           dynamic-update="<%= needsConcurrency ? "true" : "false" %>"
           optimistic-lock="<%= needsConcurrency ? "dirty" : "none" %>"
           batch-size="100">

<% IdGeneratorHbm.Call(Host, "id", schemaName, tableName); %>

        <!-- define the properties -->
<% ApplyPropertyDefinitions(properties); %>

<% if (needsRightsTable) { %>
        <!-- map rights -->
        <set name="SecurityRightsCollectionImpl"
             schema="`<%= schemaName %>`"
             table="`<%= tableName %>_Rights`"
             lazy="true"
             fetch="select" 
             batch-size="100" >
            <key column="`ID`" />
            <composite-element class="<%= qualifiedRightsClassName %>">
                <property name="Identity" column="`Identity`" />
                <property name="Right" column="`Right`" />
            </composite-element>
        </set>

<% } %>
        <!-- define the subclasses -->
<% ApplyJoinedSubclasses(subClasses); %>

    </class>
</hibernate-mapping>