@using Zetbox.App.Projekte
@using t = System.Threading.Tasks

@page "/"
@inject IZetboxContext DataContext
@inject IFrozenContext FrozenContext
@inject IViewModelFactory ViewModelFactory

<PageTitle>Index</PageTitle>

<h1>Hello zetbox!</h1>

<Zetbox.Client.Blazor.Toolkit.Views.InstanceList.InstanceListDisplay ViewModel="@list"></Zetbox.Client.Blazor.Toolkit.Views.InstanceList.InstanceListDisplay>


@code {
	private InstanceListViewModel list;

	protected async override t.Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();

		list = ViewModelFactory.CreateViewModel<InstanceListViewModel.Factory>().Invoke(DataContext, null, NamedObjects.Base.Classes.Zetbox.App.Projekte.Projekt.Find(FrozenContext), null);
	}
}