@using Zetbox.App.Projekte
@using Zetbox.Client.Presentables
@using t = System.Threading.Tasks

@page "/"
@inject IZetboxContext DataContext
@inject IFrozenContext FrozenContext
@inject IViewModelFactory ViewModelFactory

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@if (projekte != null)
{
	<table class="table table-bordered">
		@foreach (var prj in projekte)
		{
			<tr>
				<td>
					<BaseValueView Value="@prj.PropertyModelsByName["Name"]"></BaseValueView>
				</td>
				<td>
					<BaseValueView Value="@prj.PropertyModelsByName["KickOffAm"]" />
				</td>
			</tr>
		}
	</table>
}
else
{
	<p class="text-info">Loading ...</p>
}


@code {
	private IEnumerable<DataObjectViewModel> projekte;

	protected async override t.Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();

		var classes = FrozenContext.GetQuery<Zetbox.App.Base.ObjectClass>().Take(10).ToList();

		var _projekte = await DataContext.GetQuery<Projekt>().ToListAsync();
		projekte = _projekte.Select(i => DataObjectViewModel.Fetch(ViewModelFactory, DataContext, null, i)).ToArray();
	}
}