@using t = System.Threading.Tasks
@using Zetbox.Client.Presentables.ObjectBrowser

@page "/"
@inject IZetboxContext DataContext
@inject IFrozenContext FrozenContext
@inject IViewModelFactory ViewModelFactory

<PageTitle>Index</PageTitle>

<h1>Hello zetbox!</h1>

<Zetbox.Client.Blazor.Toolkit.Views.ObjectBrowser.WorkspaceDisplay ViewModel="@workspace"></Zetbox.Client.Blazor.Toolkit.Views.ObjectBrowser.WorkspaceDisplay>


@code {
	private WorkspaceViewModel workspace;

	protected async override t.Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();

		workspace = ViewModelFactory.CreateViewModel<WorkspaceViewModel.Factory>().Invoke(DataContext, null);
	}
}