<%@ CodeTemplate Language="C#" 
	Name="Implementation.EfModel.ModelMslEntityTypeMapping"
	CodeFile="Implementation.EfModel.ModelMslEntityTypeMapping.cs" 
	ClassName="Kistl.DalProvider.EF.Generator.Implementation.EfModel.ModelMslEntityTypeMapping" 
	Inherits="Kistl.Server.Generators.KistlCodeTemplate" %>
<%@ Import Namespace="System" %>
<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="System.Linq" %>
<%@ Import Namespace="Kistl.API" %>
<%@ Import Namespace="Kistl.API.Server" %>
<%@ Import Namespace="Kistl.App.Base" %>
<%@ Import Namespace="Kistl.App.Extensions" %>
<%@ Import Namespace="Kistl.Server.Generators" %>
<%@ Import Namespace="Kistl.Server.Generators.Extensions" %>
<%@ Parameter Name="ctx" Type="IKistlContext" %>
<%@ Parameter Name="cls" Type="ObjectClass" %>
      <EntityTypeMapping TypeName="IsTypeOf(Model.<%= cls.ClassName %>)">
	    <MappingFragment StoreEntitySet="<%= cls.ClassName %>">
	      <ScalarProperty Name="ID" ColumnName="ID" />
<%
		ApplyPropertyMappings();
%>
	    </MappingFragment>
      </EntityTypeMapping>
<%
	foreach(var subCls in cls.SubClasses.OrderBy(c => c.ClassName))
	{
		ApplyEntityTypeMapping(subCls);	
	}
%>