<%--
    This file is part of zetbox.

    Zetbox is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as
    published by the Free Software Foundation, either version 3 of
    the License, or (at your option) any later version.

    Zetbox is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU Lesser General Public
    License along with zetbox.  If not, see <http://www.gnu.org/licenses/>.
--%>
<%@ CodeTemplate Language="C#" 
    Name="ProjectFile"
    ClassName="Zetbox.Generator.Templates.ProjectFile" 
    Inherits="Zetbox.Generator.ResourceTemplate" %>
<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="Zetbox.API.Server" %>
<%@ Parameter Name="ctx" Type="Zetbox.API.IZetboxContext" %>
<%@ Parameter Name="projectGuid" Type="string" %>
<%@ Parameter Name="fileNames" Type="List<string>" %>
<%@ Parameter Name="schemaProviders" Type="IEnumerable<ISchemaProvider>" %>
<Project Sdk="Microsoft.NET.Sdk">
  <PropertyGroup>
    <TargetFramework>net5.0</TargetFramework>
    <RootNamespace><%= GetAssemblyName() %></RootNamespace>
    <AssemblyName><%= GetAssemblyName() %></AssemblyName>
	<AppendTargetFrameworkToOutputPath>false</AppendTargetFrameworkToOutputPath>
    <AppendRuntimeIdentifierToOutputPath>false</AppendRuntimeIdentifierToOutputPath>
    <SignAssembly>true</SignAssembly>
    <AssemblyOriginatorKeyFile>Zetbox.Objects.snk</AssemblyOriginatorKeyFile>
    <!-- this is referenced by the generator to put the results in their right place -->
    <RelativeOutputPath><%= GetRelativeOutputPath() %></RelativeOutputPath>
    <GenerateAssemblyInfo>false</GenerateAssemblyInfo>
    <TreatWarningsAsErrors>true</TreatWarningsAsErrors>
    <NoWarn>1591,0168,0414,0219</NoWarn>
    <BuildDependsOn>$(BuildDependsOn);AfterBuildMigrated</BuildDependsOn>
  </PropertyGroup>
  <PropertyGroup Condition=" '$(Configuration)|$(Platform)' == 'Debug|AnyCPU' ">
    <DebugType>full</DebugType>
    <!-- hardcode output path for external builds; the generator replaces this value from configuration -->
    <OutputPath Condition=" '$(OutputPathOverride)' == '' ">..\bin\$(Configuration)\<%= GetRelativeOutputPath().Replace('/', '\\') %>\<%= RelativeExternBuildOutputSubDirectory %>\</OutputPath>
    <OutputPath Condition=" '$(OutputPathOverride)' != '' ">$(OutputPathOverride)\<%= GetRelativeOutputPath().Replace('/', '\\') %>\Generated\</OutputPath>
    <ZetboxAPIPath Condition=" '$(ZetboxAPIPathOverride)' == '' ">..\bin\$(Configuration)\</ZetboxAPIPath>
    <ZetboxAPIPath Condition=" '$(ZetboxAPIPathOverride)' != '' ">$(ZetboxAPIPathOverride)</ZetboxAPIPath>
  </PropertyGroup>
  <PropertyGroup Condition=" '$(Configuration)|$(Platform)' == 'Release|AnyCPU' ">
    <DebugType>pdbonly</DebugType>
    <!-- hardcode output path for external builds; the generator replaces this value from configuration -->
    <OutputPath Condition=" '$(OutputPathOverride)' == '' ">..\bin\$(Configuration)\<%= GetRelativeOutputPath().Replace('/', '\\') %>\<%= RelativeExternBuildOutputSubDirectory %>\</OutputPath>
    <OutputPath Condition=" '$(OutputPathOverride)' != '' ">$(OutputPathOverride)\<%= GetRelativeOutputPath().Replace('/', '\\') %>\Generated\</OutputPath>
    <ZetboxAPIPath Condition=" '$(ZetboxAPIPathOverride)' == '' ">..\bin\$(Configuration)\</ZetboxAPIPath>
    <ZetboxAPIPath Condition=" '$(ZetboxAPIPathOverride)' != '' ">$(ZetboxAPIPathOverride)</ZetboxAPIPath>
  </PropertyGroup>
  <!-- additional properties have to come in a separate group to receive correct $(OutputPath) -->
  <PropertyGroup>
<% ApplyAdditionalProperties(); %>
  </PropertyGroup>
  <ItemGroup>
    <PackageReference Include="log4net" Version="2.0.10" />
    <PackageReference Include="Autofac" Version="5.2.0" />
    <Reference Include="Zetbox.API">
      <SpecificVersion>False</SpecificVersion>
      <HintPath>$(ZetboxAPIPath)\Common\Zetbox.API.dll</HintPath>
      <Private>False</Private>
    </Reference>  
<% ApplyAdditionalReferences(); %>
  </ItemGroup>
  <ItemGroup>
    <None Include="Zetbox.Objects.snk" />
  </ItemGroup>
<% ApplyAdditionalItemGroups(); %>
</Project>