<%@ CodeTemplate Language="C#" 
    Name="TypeChecker"
    ClassName="Zetbox.Generator.Templates.TypeChecker" 
    Inherits="Zetbox.Generator.ResourceTemplate" %>
<%@ Import Namespace="System" %>
<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="System.Linq" %>
<%@ Import Namespace="Zetbox.API" %>
<%@ Parameter Name="ctx" Type="IZetboxContext" %>
<%@ Parameter Name="shortName" Type="string" %>

    internal sealed class <%= shortName %>ImplementationTypeChecker
        : Zetbox.API.BaseImplementationTypeChecker, I<%= shortName %>ImplementationTypeChecker
    {
        public <%= shortName %>ImplementationTypeChecker(Func<IEnumerable<IImplementationTypeChecker>> implTypeCheckersFactory)
            : base(implTypeCheckersFactory)
        {
        }

        protected override System.Reflection.Assembly GetAssembly()
        {
            return typeof(<%= shortName %>ImplementationTypeChecker).Assembly;
        }
    }
