<%--
    This file is part of zetbox.

    Zetbox is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as
    published by the Free Software Foundation, either version 3 of
    the License, or (at your option) any later version.

    Zetbox is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU Lesser General Public
    License along with zetbox.  If not, see <http://www.gnu.org/licenses/>.
--%>
<%@ CodeTemplate Language="C#" 
    Name="Serialization.CompoundObjectSerialization"
    ClassName="Zetbox.Generator.Templates.Serialization.CompoundObjectSerialization" 
    Inherits="Zetbox.Generator.ResourceTemplate" %>
<%@ Import Namespace="System" %>
<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="Zetbox.API" %>
<%@ Import Namespace="Zetbox.API.Server" %>
<%@ Import Namespace="Zetbox.App.Base" %>
<%@ Import Namespace="Zetbox.Generator" %>
<%@ Import Namespace="Zetbox.Generator.Extensions" %>
<%@ Parameter Name="ctx" Type="IZetboxContext" %>
<%@ Parameter Name="direction" Type="SerializerDirection" %>
<%@ Parameter Name="streamName" Type="string" %>
<%@ Parameter Name="xmlnamespace" Type="string" %>
<%@ Parameter Name="xmlname" Type="string" %>
<%@ Parameter Name="memberType" Type="string" %>
<%@ Parameter Name="memberName" Type="string" %>
<%@ Parameter Name="backingStoreType" Type="string" %>
<%@ Parameter Name="backingStoreName" Type="string" %>
<%
    if (direction == SerializerDirection.ToStream)
    {
%>
            <%= streamName %>.Write(this.<%= memberName %>);
<%    
    }
    else if (direction == SerializerDirection.FromStream)
    {
%>
            {
                // use backing store to avoid notifications
                this.<%= backingStoreName %> = <%= streamName %>.ReadCompoundObject<<%= backingStoreType %>>();
                this.<%= backingStoreName %>.AttachToObject(this, "<%= memberName %>");
            }
<%    
    }
    else if (direction == SerializerDirection.Export)
    {
%>
            if (modules.Contains("*") || modules.Contains("<%= xmlnamespace %>")) XmlStreamer.ToStream(this.<%= memberName %>, <%= streamName %>, "<%= xmlname %>", "<%= xmlnamespace %>");
<%
    }
    else if (direction == SerializerDirection.MergeImport)
    {
%>
            case "<%= xmlnamespace %>|<%= xmlname %>":
                XmlStreamer.FromStream(this.<%= backingStoreName %>, <%= streamName %>);
                break;
<%
    }
    else
    {
        throw new ArgumentOutOfRangeException("direction");
    }
%>