<%@ CodeTemplate Language="C#" 
    Name="Mappings.CollectionEntriesHbm"
    ClassName="Kistl.DalProvider.NHibernate.Generator.Templates.Mappings.CollectionEntriesHbm" 
    Inherits="Kistl.Generator.ResourceTemplate" %>
<%@ Import Namespace="System" %>
<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="System.Linq" %>
<%@ Import Namespace="Kistl.API" %>
<%@ Import Namespace="Kistl.API.Server" %>
<%@ Import Namespace="Kistl.App.Base" %>
<%@ Import Namespace="Kistl.App.Extensions" %>
<%@ Import Namespace="Kistl.Generator" %>
<%@ Import Namespace="Kistl.Generator.Extensions" %>
<%@ Parameter Name="ctx" Type="IKistlContext" %>
<?xml version="1.0"?>
<hibernate-mapping xmlns="urn:nhibernate-mapping-2.2" 
                   schema="`dbo`"
                   default-cascade="save-update"
                   assembly="Kistl.Objects.NHibernateImpl">

    <!-- RelationCollectionEntries -->
<%
    foreach (var rel in ctx.GetQuery<Relation>()
        .Where(r => r.Storage == StorageType.Separate)
        .ToList()
        .OrderBy(r => r.GetRelationClassName()))
    {
        var collectionEntryNamespace = rel.A.Type.Module.Namespace;
        var collectionEntryClassName = rel.GetRelationClassName() + ImplementationSuffix;
        var proxyClassName = rel.GetRelationClassName() + "Proxy";
        var tableName = rel.GetRelationTableName();
%>
    <class name="<%= collectionEntryNamespace %>.<%= collectionEntryClassName %>+<%= proxyClassName %>"
           proxy="<%= collectionEntryNamespace %>.<%= collectionEntryClassName %>+<%= proxyClassName %>"
           table="`<%= tableName %>`">
        <id name="ID"
            column="`ID`"
            type="Int32">

            <generator class="native">
                <param name="sequence">`<%= tableName %>_ID_seq`</param>
            </generator>
        </id>

        <many-to-one name="A"
                     column="`<%= rel.GetRelationFkColumnName(RelationEndRole.A) %>`" />
        <many-to-one name="B"
                     column="`<%= rel.GetRelationFkColumnName(RelationEndRole.B) %>`" />
<% if (rel.NeedsPositionStorage(RelationEndRole.A)) { %>
        <property name="A<%= Kistl.API.Helper.PositionSuffix %>"
                    column="`<%= Construct.ListPositionColumnName(rel.B) %>`" />
<% } %>
<% if (rel.NeedsPositionStorage(RelationEndRole.B)) { %>
        <property name="B<%= Kistl.API.Helper.PositionSuffix %>"
                  column="`<%= Construct.ListPositionColumnName(rel.A) %>`" />
<% } %>
<% if (rel.A.Type.ImplementsIExportable() && rel.B.Type.ImplementsIExportable()) { %>
        <property name="ExportGuid" column="`ExportGuid`" type="Guid" />
<% } %>
    </class>
<% } %>

    <!-- ValueCollectionEntries are defined directly on use -->

    <!-- CompoundObjectCollectionEntries are defined directly on use -->

</hibernate-mapping>