<%@ CodeTemplate Language="C#" 
    Name="Mappings.ObjectClassHbm"
    ClassName="Kistl.DalProvider.NHibernate.Generator.Templates.Mappings.ObjectClassHbm" 
    Inherits="Kistl.Generator.ResourceTemplate" %>
<%@ Import Namespace="System" %>
<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="System.Linq" %>
<%@ Import Namespace="Kistl.API" %>
<%@ Import Namespace="Kistl.API.Server" %>
<%@ Import Namespace="Kistl.App.Base" %>
<%@ Import Namespace="Kistl.App.Extensions" %>
<%@ Import Namespace="Kistl.Generator" %>
<%@ Import Namespace="Kistl.Generator.Extensions" %>
<%@ Parameter Name="ctx" Type="IKistlContext" %>
<%@ Parameter Name="interfaceName" Type="string" %>
<%@ Parameter Name="implementationName" Type="string" %>
<%@ Parameter Name="tableName" Type="string" %>
<%@ Parameter Name="qualifiedImplementationName" Type="string" %>
<%@ Parameter Name="isAbstract" Type="bool" %>
<%@ Parameter Name="properties" Type="List<Property>" %>
<%@ Parameter Name="subClasses" Type="List<ObjectClass>" %>
<%@ Parameter Name="needsRightsTable" Type="bool" %>
<%@ Parameter Name="qualifiedRightsClassName" Type="string" %>
<?xml version="1.0"?>
<hibernate-mapping xmlns="urn:nhibernate-mapping-2.2" 
                   default-cascade="save-update"
                   schema="`dbo`">
    <class name="<%= qualifiedImplementationName %>"
           proxy="<%= qualifiedImplementationName %>"
           table="`<%= tableName %>`"
           abstract="<%= isAbstract ? "true" : "false" %>">

<% IdGeneratorHbm.Call(Host, "id", tableName); %>

        <!-- define the properties -->
<% ApplyPropertyDefinitions(properties); %>

<% if (needsRightsTable) { %>
        <!-- map rights -->
        <set name="SecurityRightsCollectionImpl"
             table="`<%= tableName %>_Rights`"
             lazy="true"
             fetch="select">
            <key column="`ID`" />
            <composite-element class="<%= qualifiedRightsClassName %>">
                <property name="Identity" column="`Identity`" />
                <property name="Right" column="`Right`" />
            </composite-element>
        </set>

<% } %>
        <!-- define the subclasses -->
<% ApplyJoinedSubclasses(subClasses); %>

    </class>
</hibernate-mapping>