<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxControlToolkit" version="4.1.60919" targetFramework="net40" />
  <package id="AjaxDataControls" version="1.0.0.0" />
  <package id="Autofac" version="2.6.3.862" targetFramework="net40" />
  <package id="MSBuildVersioning" version="1.0.34.0" />
</packages>