<%@ CodeTemplate Language="C#" 
	Name="Repositories.FrozenRepository"
	ClassName="Kistl.Server.Generators.FrozenObjects.Repositories.FrozenRepository" 
	Inherits="Kistl.Server.Generators.KistlCodeTemplate" %>
<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="System.Linq" %>
<%@ Import Namespace="Kistl.App.Base" %>
<%@ Parameter Name="ctx" Type="Kistl.API.IKistlContext" %>
<%@ Parameter Name="module" Type="Module" %>
<%
	string classname = "Frozen" + module.ModuleName + "Repository";

%>
using System;
using System.Collections.Generic;
using System.Linq;

using Kistl.API;

namespace <%= module.Namespace %>
{

	public class <%= classname %>
	{
		public <%= classname %>(IKistlContext ctx)
		{
			this.Context = ctx;
		}
		
		public IKistlContext Context { get; private set; }
		
<%
	foreach(var cls in module.DataTypes.OfType<ObjectClass>())
	{
%>
		/// <summary>List of all <%= cls.ClassName %></summary>
		/// <%= cls.Description %>
		public IQueryable<<%= cls.ClassName %>> <%= cls.TableName %>
		{ 
			get
			{
				return Context.GetQuery<<%= cls.ClassName %>>();
			}
		}
		
<%
	}
%>
	
	}
	
}