<%@ CodeTemplate Language="C#" 
    Name="ObjectClasses.ApplyChangesFromMethod"
    ClassName="Zetbox.DalProvider.NHibernate.Generator.Templates.ObjectClasses.ApplyChangesFromMethod" 
    Inherits="Zetbox.Generator.ResourceTemplate" %>
<%@ Import Namespace="System" %>
<%@ Import Namespace="System.Linq" %>
<%@ Import Namespace="Zetbox.API" %>
<%@ Import Namespace="Zetbox.API.Server" %>
<%@ Import Namespace="Zetbox.App.Base" %>
<%@ Import Namespace="Zetbox.Generator" %>
<%@ Import Namespace="Zetbox.Generator.Extensions" %>
<%@ Parameter Name="ctx" Type="IZetboxContext" %>
<%@ Parameter Name="otherInterface" Type="string" %>
<%@ Parameter Name="cls" Type="DataType" %>
<%@ Parameter Name="clsName" Type="string" %>
<%@ Parameter Name="implName" Type="string" %>

        public override void ApplyChangesFrom(<%= otherInterface %> obj)
        {
            base.ApplyChangesFrom(obj);
            var other = (<%= clsName %>)obj;
            var otherImpl = (<%= implName %>)obj;
            var me = (<%= clsName %>)this;

<% foreach(var prop in cls.Properties.OfType<ValueTypeProperty>().Where(p => !p.IsCalculated).OrderBy(p => p.Name)) { %>
<%      if (prop.IsList && prop.HasPersistentOrder) { %>
            SynchronizeLists(this.<%= prop.Name %>Collection, otherImpl.<%= prop.Name %>Collection);
<%      } else if (prop.IsList && !prop.HasPersistentOrder) { %>
            SynchronizeCollections(this.<%= prop.Name %>Collection, otherImpl.<%= prop.Name %>Collection);
<%      } else { %>
            me.<%= prop.Name %> = other.<%= prop.Name %>;
<%      } %>
<% } %>
<% foreach(var prop in cls.Properties.OfType<CompoundObjectProperty>()/*.Where(p => !p.IsCalculated)*/.OrderBy(p => p.Name)) { %>
<%      if (prop.IsList && prop.HasPersistentOrder) { %>
            SynchronizeLists(this.<%= prop.Name %>Collection, otherImpl.<%= prop.Name %>Collection);
<%      } else if (prop.IsList && !prop.HasPersistentOrder) { %>
            SynchronizeCollections(this.<%= prop.Name %>Collection, otherImpl.<%= prop.Name %>Collection);
<%      } else { %>
            if (me.<%= prop.Name %> == null && other.<%= prop.Name %> != null) {
                me.<%= prop.Name %> = (<%= prop.GetElementTypeString() %>)other.<%= prop.Name %>.Clone();
            } else if (me.<%= prop.Name %> != null && other.<%= prop.Name %> == null) {
                me.<%= prop.Name %> = null;
            } else if (me.<%= prop.Name %> != null && other.<%= prop.Name %> != null) {
                me.<%= prop.Name %>.ApplyChangesFrom(other.<%= prop.Name %>);
            }
<%      } %>
<% } %>
<% foreach(var prop in cls.Properties.OfType<ObjectReferenceProperty>().Where(p => !p.IsList()).OrderBy(p => p.Name)) {
        if (prop.RelationEnd.HasPersistentOrder) {
            var positionPropertyName = Construct.ListPositionPropertyName(prop.RelationEnd);
%>
            this.<%= positionPropertyName %> = otherImpl.<%= positionPropertyName %>;
<%      } %>
            this._fk_<%= prop.Name %> = otherImpl._fk_<%= prop.Name %>;
<% } %>
        }
