<%@ CodeTemplate Language="C#" 
    Name="ObjectClasses.Constructors"
    ClassName="Zetbox.DalProvider.NHibernate.Generator.Templates.ObjectClasses.Constructors" 
    Inherits="Zetbox.Generator.ResourceTemplate" %>
<%@ Import Namespace="System" %>
<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="System.Linq" %>
<%@ Import Namespace="Zetbox.API" %>
<%@ Import Namespace="Zetbox.API.Server" %>
<%@ Import Namespace="Zetbox.App.Base" %>
<%@ Import Namespace="Zetbox.App.Extensions" %>
<%@ Import Namespace="Zetbox.Generator" %>
<%@ Import Namespace="Zetbox.Generator.Extensions" %>
<%@ Parameter Name="ctx" Type="IZetboxContext" %>
<%@ Parameter Name="compoundObjectInitialisers" Type="IEnumerable<CompoundInitialisationDescriptor>" %>
<%@ Parameter Name="valueSetFlags" Type="IEnumerable<string>" %>
<%@ Parameter Name="interfaceName" Type="string" %>
<%@ Parameter Name="className" Type="string" %>
<%@ Parameter Name="baseClassName" Type="string" %>
<%@ Parameter Name="unsetValueIsNull" Type="bool" %>
        public <%= className %>()
            : this(null)
        {
        }

        /// <summary>Create a new unattached instance</summary>
        public <%= className %>(Func<IFrozenContext> lazyCtx)
            : this(lazyCtx, new <%= interfaceName %>Proxy())
        {
        }

        /// <summary>Create a instance, wrapping the specified proxy</summary>
        public <%= className %>(Func<IFrozenContext> lazyCtx, <%= interfaceName %>Proxy proxy)
<% if (String.IsNullOrEmpty(baseClassName)) { %>
            : base(lazyCtx) // do not pass proxy to base data object
<% } else { %>
            : base(lazyCtx, proxy) // pass proxy to parent
<% } %>
        {
            this.Proxy = proxy;
<% ApplyCompoundObjectPropertyInitialisers(); %>
<% ApplyDefaultValueSetFlagInitialisers(); %>
<% if (unsetValueIsNull) { %>
            // collection values are never null
            this.Proxy.Value.CompoundObject_IsNull = false;
<% } %>
        }

        /// <summary>the NHibernate proxy of the represented entity</summary>
<% if (String.IsNullOrEmpty(baseClassName)) { %>
        internal readonly <%= interfaceName %>Proxy Proxy;
<% } else { %>
        internal new readonly <%= interfaceName %>Proxy Proxy;
<% } %>
