<%--
    This file is part of zetbox.

    Zetbox is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as
    published by the Free Software Foundation, either version 3 of
    the License, or (at your option) any later version.

    Zetbox is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU Lesser General Public
    License along with zetbox.  If not, see <http://www.gnu.org/licenses/>.
--%>
﻿<%@ CodeTemplate Language="C#" 
    Name="ObjectClasses.ProxyClassChild"
    ClassName="Zetbox.DalProvider.NHibernate.Generator.Templates.ObjectClasses.ProxyClassChild"
    Inherits="Zetbox.Generator.ResourceTemplate" %>
<%@ Import Namespace="System" %>
<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="System.Linq" %>
<%@ Import Namespace="Zetbox.API" %>
<%@ Import Namespace="Zetbox.API.Server" %>
<%@ Import Namespace="Zetbox.App.Base" %>
<%@ Import Namespace="Zetbox.App.Extensions" %>
<%@ Import Namespace="Zetbox.Generator" %>
<%@ Import Namespace="Zetbox.Generator.Extensions" %>
<%@ Parameter Name="ctx" Type="IZetboxContext" %>
<%@ Parameter Name="className" Type="string" %>
<%@ Parameter Name="parentClassName" Type="string" %>
<%@ Parameter Name="nameAndInitialiserList" Type="IEnumerable<KeyValuePair<string, string>>" %>
<%@ Parameter Name="typeAndNameList" Type="IEnumerable<KeyValuePair<string, string>>" %>

        public class <%= className %>Proxy
            : <%= parentClassName %>
        {
            public <%= className %>Proxy()
            {
<% foreach(var p in nameAndInitialiserList) { %>
                <%= p.Key %> = <%= p.Value %>;
<% } %>
            }

            public override Type ZetboxWrapper { get { return typeof(<%= className %><%= ImplementationSuffix %>); } }

            public override Type ZetboxProxy { get { return typeof(<%= className %>Proxy); } }

<% foreach(var p in typeAndNameList) { %>
            public virtual <%= p.Key %> <%= p.Value %> { get; set; }

<% } %>
        }
