<%--
    This file is part of zetbox.

    Zetbox is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as
    published by the Free Software Foundation, either version 3 of
    the License, or (at your option) any later version.

    Zetbox is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU Lesser General Public
    License along with zetbox.  If not, see <http://www.gnu.org/licenses/>.
--%>
﻿<%@ CodeTemplate Language="C#"
    Name="CollectionEntries.CollectionEntryTemplate"
    ClassName="Zetbox.Generator.Templates.CollectionEntries.CollectionEntryTemplate"
    Inherits="Zetbox.Generator.ResourceTemplate" %>
<%@ Import Namespace="System" %>
<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="Zetbox.API" %>
<%@ Import Namespace="Zetbox.API.Server" %>
<%@ Import Namespace="Zetbox.App.Base" %>
<%@ Import Namespace="Zetbox.Generator" %>
<%@ Import Namespace="Zetbox.Generator.Extensions" %>
<%@ Parameter Name="ctx" Type="IZetboxContext" %>
    // BEGIN <%= this.GetType().FullName %>
<%
    ApplyClassAttributeTemplate();
%>
    [System.Diagnostics.DebuggerDisplay("<%= GetCeClassName() %>")]
    public class <%= GetCeClassName() %> <%= GetInheritance() %>
    {
<% ApplyConstructorTemplate(); %>
<% ApplyClassHeadTemplate(); %>

        /// <summary>
        /// the A-side value of this CollectionEntry
        /// </summary>
<%
    ApplyAPropertyTemplate();
%>

        /// <summary>
        /// the B-side value of this CollectionEntry
        /// </summary>
<%
    ApplyBPropertyTemplate();


    if (IsOrdered())
    {
%>

        /// <summary>
        /// Index into the A-side list of this relation
        /// </summary>
<%
        ApplyAIndexPropertyTemplate();
%>

        /// <summary>
        /// Index into the B-side list of this relation
        /// </summary>
<%
        ApplyBIndexPropertyTemplate();
    }
%>

        #region Serializer

<%
    Serialization.SerializerTemplate.Call(Host, ctx,
        Serialization.SerializerDirection.ToStream, this.MembersToSerialize, true, null);

    Serialization.SerializerTemplate.Call(Host, ctx,
        Serialization.SerializerDirection.FromStream, this.MembersToSerialize, true, null);

    if (IsExportable())
    {
        Serialization.SerializerTemplate.Call(Host, ctx,
            Serialization.SerializerDirection.Export, this.MembersToSerialize, false, GetExportGuidBackingStoreReference());

        Serialization.SerializerTemplate.Call(Host, ctx,
            Serialization.SerializerDirection.MergeImport, this.MembersToSerialize, false, GetExportGuidBackingStoreReference());
    }
%>

        #endregion

        public override Type GetImplementedInterface()
        {
            return typeof(<%= GetCeInterface() %>);
        }

        public override void ApplyChangesFrom(IPersistenceObject obj)
        {
            base.ApplyChangesFrom(obj);
            var other = (<%= GetCeClassName() %>)obj;
            var me = (<%= GetCeClassName() %>)this;

<%
            ApplyChangesFromBody();
%>
        }


        public override void ReloadReferences()
        {
            // Do not reload references if the current object has been deleted.
            // TODO: enable when MemoryContext uses MemoryDataObjects
            //if (this.ObjectState == DataObjectState.Deleted) return;
<%
    ApplyReloadReferenceBody();
%>

        }

<%
    ApplyClassTailTemplate();
%>
    }
    // END <%= this.GetType().FullName %>
