<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere" />
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="servercomponents" type="Autofac.Configuration.SectionHandler, Autofac.Configuration" />
  </configSections>
  <runtime>
    <assemblyBinding appliesTo="v2.0.50727" xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <probing privatePath="Common\Core" />
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.1.841" newVersion="2.6.1.841" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings></appSettings>
  <connectionStrings />
  <system.web>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        -->
        <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
    <pages theme="BasicTheme">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </controls>
    </pages>
    <httpHandlers>
      <remove verb="*" path="*.asmx" />
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
      <add verb="GET,POST" path="ZetboxService.facade" validate="false" type="Zetbox.Server.HttpService.ZetboxServiceFacade" />
      <!--<add verb="GET,POST" path="ZetboxService.facade/*" validate="false" type="Zetbox.Server.HttpService.ZetboxServiceFacade" />-->
      <add verb="GET,POST" path="Bootstrapper.facade" validate="false" type="Zetbox.Server.HttpService.BootstrapperFacade" />
      <add verb="GET" path="PerfMon.facade" validate="false" type="Zetbox.Server.HttpService.PerfMonFacade" />
      <!--<add verb="GET,POST" path="Bootstrapper.facade/*" validate="false" type="Zetbox.Server.HttpService.BootstrapperFacade" />-->
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="TrustedBasicAuthenticator" type="Zetbox.Server.HttpService.TrustedBasicAuthenticationModule" />
      <add name="ContainerDisposal" type="Autofac.Integration.Web.ContainerDisposalModule, Autofac.Integration.Web" />
      <add name="PropertyInjection" type="Autofac.Integration.Web.Forms.PropertyInjectionModule, Autofac.Integration.Web" />
      <add name="AttributeInjection" type="Autofac.Integration.Web.Forms.AttributedInjectionModule, Autofac.Integration.Web" />
    </httpModules>
    <globalization culture="de-AT" uiCulture="en-US" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <!-- Binding -->
    <!--<bindings>
      <basicHttpBinding>
        <binding name="ZetboxService_Binding">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="Bootstrapper_Binding">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </webHttpBinding>
    </bindings>-->
    <!-- Server -->
    <!--<behaviors>
      <serviceBehaviors>
        <behavior name="ZetboxService_Behaviour">
          <serviceMetadata httpGetEnabled="true" />
          -->
    <!--
            To receive exception details in faults for debugging purposes, set the value below to true.
            Set to false before deployment to avoid disclosing exception information.
            Hint from http://geekswithblogs.net/frankw/archive/2008/03/12/includeexceptiondetailinfaults-in-wcf-service-configuration.aspx
          -->
    <!--
          <serviceDebug includeExceptionDetailInFaults="true" />
          -->
    <!-- 
            We are using sessions! Not realy sessions like ASP.NET sessions, we do not have state at the server. 
            But the configurated security mode establishes a session. Thus we have to increse the maxConcurrentSessions throttle.
            200 because WCF 4.0 uses 100 * processor count for session and 16 * processor count for calls
          -->
    <!--
          <serviceThrottling maxConcurrentSessions="200" />
        </behavior>
        <behavior name="Zetbox.Server.BootstrapperServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="ZetboxService_Behaviour" name="Zetbox.Server.ZetboxService">
        <endpoint binding="basicHttpBinding" bindingConfiguration="ZetboxService_Binding"
          name="basicHttpEndpoint" contract="Zetbox.API.IZetboxService" />
      </service>
      <service behaviorConfiguration="Zetbox.Server.BootstrapperServiceBehavior"
        name="Zetbox.Server.BootstrapperService">
        <endpoint binding="webHttpBinding" bindingConfiguration="Bootstrapper_Binding"
          name="webEndpoint" contract="Zetbox.Server.IBootstrapperService" />
      </service>
    </services>-->
  </system.serviceModel>
  <log4net>
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\Zetbox.Server.Service.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="1MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <appender name="FilteredSchemaReport" type="log4net.Appender.ForwardingAppender">
      <threshold value="DEBUG" />
      <appender-ref ref="TraceAppender" />
      <appender-ref ref="RollingLogFileAppender" />
    </appender>
    <appender name="SchemaReport" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\SchemaReport.log" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="7" />
      <maximumFileSize value="1MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5level| %property{INDENT}%message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="TraceAppender" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
    <!-- quiet down very verbose info logging -->
    <logger name="Zetbox.Facade">
      <level value="INFO" />
    </logger>
    <logger name="Zetbox.Linq">
      <level value="WARN" />
    </logger>
    <logger name="Zetbox.Linq.Query">
      <level value="WARN" />
    </logger>
    <logger name="Zetbox.Server.Generator.Host">
      <level value="WARN" />
    </logger>
    <logger name="Zetbox.Reflection">
      <level value="WARN" />
    </logger>
    <logger name="Zetbox.Server.Schema">
      <!-- hack around to filter DEBUG messages to the report ONLY-->
      <additivity value="false" />
      <level value="INFO" />
      <!-- Create separate schema report with all information -->
      <appender-ref ref="SchemaReport" />
      <!-- filter INFO and HIGHER messages into logfile and console -->
      <appender-ref ref="FilteredSchemaReport" />
    </logger>
    <!-- configure the components you want to debug here -->
    <!-- 
    <logger name="Zetbox.Server.Generator.Templates">
      <level value="DEBUG" />
    </logger>
    -->
    <logger name="NHibernate">
      <level value="INFO" />
      <!-- "WARN" recommended for production -->
    </logger>
    <logger name="NHibernate.SQL">
      <level value="DEBUG" />
    </logger>
  </log4net>
  <!--
  See http://code.google.com/p/autofac/wiki/XmlConfiguration for syntax
  See ServerModule and StoreProvider for overridable things.
  -->
  <servercomponents />
  <!-- See http://npgsql.projects.postgresql.org/docs/manual/UserManual.html "Using Npgsql with ProviderFactory" -->
  <system.data>
    <DbProviderFactories>
      <add name="Npgsql Data Provider" invariant="Npgsql" support="FF" description=".Net Framework Data Provider for Postgresql Server" type="Npgsql.NpgsqlFactory, Npgsql, Version=2.0.11.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" />
    </DbProviderFactories>
  </system.data>
  <!-- This section is used for IIS7 -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <add name="ContainerDisposal" type="Autofac.Integration.Web.ContainerDisposalModule, Autofac.Integration.Web" preCondition="managedHandler" />
      <add name="PropertyInjection" type="Autofac.Integration.Web.Forms.PropertyInjectionModule, Autofac.Integration.Web" preCondition="managedHandler" />
      <add name="AttributedInjection" type="Autofac.Integration.Web.Forms.AttributedInjectionModule, Autofac.Integration.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
</configuration>