<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="servercomponents" type="Autofac.Configuration.SectionHandler, Autofac.Configuration" />
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!--
          redirect old versions of the MSBuild Framework to the current implementation 
          See http://social.msdn.microsoft.com/Forums/en-US/msbuild/thread/2772a075-4e2f-42af-9e7a-2228b794368e/
          Specifically, this is needed for the EntityFramework Build Tasks
      -->
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Build.Framework" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
	  <dependentAssembly>
			<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
			<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
	  </dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
			<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
		</dependentAssembly>
      <probing privatePath="Common\Core"/>
	</assemblyBinding>
  </runtime>
  <system.web>
		<httpRuntime maxRequestLength="40960" />
        <customErrors mode="Off" />
		<compilation debug="true" defaultLanguage="c#" >
			<assemblies>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="WindowsBase, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</assemblies>
		</compilation>
		<pages theme="BasicTheme">
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</controls>
		</pages>
    </system.web>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="OptionInfer" value="true"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
		</compilers>
	</system.codedom>	
  <system.serviceModel>
    <!-- Binding -->
    <bindings>
      <basicHttpBinding>
        <binding name="ZetboxService_Binding" closeTimeout="00:01:00"
				 openTimeout="00:01:00" receiveTimeout="10:00:00" sendTimeout="00:01:00"
				 maxBufferPoolSize="524288" maxReceivedMessageSize="6553600" messageEncoding="Text"
				 textEncoding="utf-8">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows">
              <extendedProtectionPolicy policyEnforcement="Never" />
            </transport>
          </security>
		  <readerQuotas maxStringContentLength="1600000000" maxArrayLength="1600000000" />
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="Bootstrapper_Binding">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows">
              <extendedProtectionPolicy policyEnforcement="Never" />
            </transport>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <!-- Server -->
    <behaviors>
      <serviceBehaviors>
        <behavior name="ZetboxService_Behaviour">
          <serviceMetadata httpGetEnabled="true" />
          <!--
            To receive exception details in faults for debugging purposes, set the value below to true.
            Set to false before deployment to avoid disclosing exception information.
            Hint from http://geekswithblogs.net/frankw/archive/2008/03/12/includeexceptiondetailinfaults-in-wcf-service-configuration.aspx
          -->
          <serviceDebug includeExceptionDetailInFaults="true" />
          <!-- 
            We are using sessions! Not realy sessions like ASP.NET sessions, we do not have state at the server. 
            But the configurated security mode establishes a session. Thus we have to increse the maxConcurrentSessions throttle.
            200 because WCF 4.0 uses 100 * processor count for session and 16 * processor count for calls
          -->
          <serviceThrottling maxConcurrentSessions="200" />
        </behavior>
        <behavior name="Zetbox.Server.BootstrapperServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="ZetboxService_Behaviour" name="Zetbox.Server.ZetboxService">
        <endpoint address=""
          binding="basicHttpBinding" bindingConfiguration="ZetboxService_Binding"
          name="basicHttpEndpoint" contract="Zetbox.API.IZetboxService" />
 	  </service>
      <service behaviorConfiguration="Zetbox.Server.BootstrapperServiceBehavior"
        name="Zetbox.Server.BootstrapperService">
        <endpoint address="Bootstrapper.svc"
          binding="webHttpBinding" bindingConfiguration="Bootstrapper_Binding"
          name="webEndpoint" contract="Zetbox.Server.IBootstrapperService" />
      </service>
    </services>
	<serviceHostingEnvironment>
        <baseAddressPrefixFilters>
            <add prefix="http://srv2008/"/>
        </baseAddressPrefixFilters>
    </serviceHostingEnvironment>
  </system.serviceModel>
  <log4net>
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="..\Logs\Zetbox.Server.Service.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="1MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
	<appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <threshold value="ERROR"/>
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="data source=.\sqlexpress;initial catalog=dasz;integrated security=true" />      
      <commandText value="INSERT INTO base.[ExceptionLog] ([Date],[Thread],[Level],[Logger],[Message], [Exception]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)" />
      <parameter>
        <parameterName value="log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout" value="%thread" />
      </parameter>
      <parameter>
        <parameterName value="log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout" value="%level" />
      </parameter>
      <parameter>
        <parameterName value="logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout" value="%logger" />
      </parameter>
      <parameter>
        <parameterName value="message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout" value="%message" />
      </parameter>
      <parameter>
        <parameterName value="exception" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout" value="%exception" />
      </parameter>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="TraceAppender" />
      <appender-ref ref="RollingLogFileAppender" />
	  <appender-ref ref="AdoNetAppender" />
    </root>
    <!-- quiet down very verbose info logging -->
    <logger name="Zetbox.Facade">
      <level value="INFO" />
    </logger>
    <logger name="Zetbox.Linq">
      <level value="WARN" />
    </logger>
    <logger name="Zetbox.Linq.Query">
      <level value="WARN" />
    </logger>
    <logger name="Zetbox.Generator.Host">
      <level value="WARN" />
    </logger>
    <logger name="Zetbox.Reflection">
      <level value="WARN" />
    </logger>
    <logger name="Zetbox.Server.Schema">
      <!-- hack around to filter DEBUG messages to the report ONLY-->
      <additivity value="false" />
      <level value="INFO" />
    </logger>
  </log4net>
  <!--
  See http://code.google.com/p/autofac/wiki/XmlConfiguration for syntax
  See ServerModule and StoreProvider for overridable things.
  -->
  <servercomponents />
</configuration>
