<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <system.serviceModel>
    <!-- Binding -->
    <bindings>
      <basicHttpBinding>
        <binding name="Kistl_Service_BasicHttpBinding" maxReceivedMessageSize="6553600">
          <readerQuotas maxStringContentLength="1600000000" maxArrayLength="1600000000" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <!-- Client -->
    <client>
      <endpoint address="http://squeeze:6666/KistlService" binding="basicHttpBinding"
        bindingConfiguration="Kistl_Service_BasicHttpBinding" contract="KistlService.IKistlService"
        name="KistlService_Endpoint" />
    </client>
  </system.serviceModel>
  <log4net>
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender" >
      <mapping>
        <level value="INFO" />
        <foreColor value="Cyan" />
      </mapping>
      <mapping>
        <level value="INFO" />
        <foreColor value="White" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Yellow, HighIntensity" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red, HighIntensity" />
      </mapping>
      <mapping>
        <level value="FATAL" />
        <foreColor value="Purple, HighIntensity" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline" />
      </layout>
    </appender>
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Kistl.Client.WPF.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="1MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="ColoredConsoleAppender" />
      <appender-ref ref="TraceAppender" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
    <logger name="Kistl.Facade">
      <level value="INFO" />
    </logger>
    <logger name="Kistl.Linq">
      <level value="WARN" />
    </logger>
    <logger name="Kistl.Reflection">
      <level value="WARN" />
    </logger>
    <logger name="Kistl.AssemblyLoader">
      <level value="DEBUG" />
    </logger>
  </log4net>
</configuration>