<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
		<!-- Binding -->
		<bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IKistlService_Streamed" closeTimeout="00:10:00"
            openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="1600000000"
            messageEncoding="Mtom" textEncoding="utf-8" transferMode="Streamed"
            useDefaultWebProxy="true">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="1600000000"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
            <security mode="None" />
        </binding>
      </basicHttpBinding>
			<wsHttpBinding>
				<binding name="WSHttpBinding_IKistlService" closeTimeout="00:01:00"
				 openTimeout="00:00:30" receiveTimeout="00:00:30" sendTimeout="00:00:30"
				 bypassProxyOnLocal="true" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
				 maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
				 textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
					<security mode="None" />
					<readerQuotas maxStringContentLength="1600000000" />
				</binding>
			</wsHttpBinding>
		</bindings>
		<!-- Client -->
		<client>
			<endpoint address="http://localhost:6666/KistlService" binding="wsHttpBinding"
			 bindingConfiguration="WSHttpBinding_IKistlService" contract="KistlService.IKistlService"
			 name="KistlServiceEndpoint" />
      <endpoint address="http://localhost:6666/KistlServiceStreams" binding="basicHttpBinding"
			 bindingConfiguration="BasicHttpBinding_IKistlService_Streamed" contract="KistlServiceStreams.IKistlServiceStreams"
			 name="KistlServiceStreamsEndpoint" />
    </client>
    <!-- Server -->
    <behaviors>
      <serviceBehaviors>
        <behavior name="HttpGetBehaviour">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Kistl.Server.KistlService" behaviorConfiguration="HttpGetBehaviour">
        <endpoint address="http://localhost:6666/KistlService" binding="wsHttpBinding"
						  bindingConfiguration="WSHttpBinding_IKistlService" contract="Kistl.API.IKistlService"
							name="KistlServiceEndpoint">
        </endpoint>
      </service>
      <service name="Kistl.Server.KistlServiceStreams" behaviorConfiguration="HttpGetBehaviour">
        <endpoint address="http://localhost:6666/KistlServiceStreams" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IKistlService_Streamed" contract="Kistl.API.IKistlServiceStreams"
        name="KistlServiceStreamsEndpoint">
        </endpoint>
      </service>
    </services>
  </system.serviceModel>  
</configuration>