<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Arebis.CodeGenerator" version="1.2.1.0" targetFramework="net35" />
  <package id="Autofac" version="2.6.1.841" targetFramework="net35" />
  <package id="log4net" version="2.0.0" targetFramework="net35" />
  <package id="PDFsharp-MigraDoc-GDI-dasz" version="1.32.3883.0" targetFramework="net35" />
  <package id="zetboxBasic-Client" version="1.0.4272.1" targetFramework="net35" />
  <package id="zetboxBasic-Common" version="1.0.4272.1" targetFramework="net35" />
</packages>