<%@ CodeTemplate Language="C#" 
    Name="ObjectClasses.Constructors"
    ClassName="Kistl.Generator.Templates.ObjectClasses.Constructors" 
    Inherits="Kistl.Generator.ResourceTemplate" %>
<%@ Import Namespace="System" %>
<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="System.Linq" %>
<%@ Import Namespace="Kistl.API" %>
<%@ Import Namespace="Kistl.API.Server" %>
<%@ Import Namespace="Kistl.App.Base" %>
<%@ Import Namespace="Kistl.App.Extensions" %>
<%@ Import Namespace="Kistl.Generator" %>
<%@ Import Namespace="Kistl.Generator.Extensions" %>
<%@ Parameter Name="ctx" Type="IKistlContext" %>
<%@ Parameter Name="className" Type="string" %>
<%@ Parameter Name="compoundObjectProperties" Type="IEnumerable<CompoundObjectProperty>" %>
        [Obsolete]
        public <%= className %>()
            : base(null)
        {
<% ApplyCompoundObjectPropertyInitialisers(); %>
        }

        public <%= className %>(Func<IFrozenContext> lazyCtx)
            : base(lazyCtx)
        {
<% ApplyCompoundObjectPropertyInitialisers(); %>
        }
