<%--
    This file is part of zetbox.

    Zetbox is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as
    published by the Free Software Foundation, either version 3 of
    the License, or (at your option) any later version.

    Zetbox is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU Lesser General Public
    License along with zetbox.  If not, see <http://www.gnu.org/licenses/>.
--%>
﻿<%@ CodeTemplate Language="C#"
    Name="ObjectClasses.MethodCanExec"
    ClassName="Zetbox.Generator.Templates.ObjectClasses.MethodCanExec"
    Inherits="Zetbox.Generator.MemberTemplate" %>
<%@ Import Namespace="System" %>
<%@ Import Namespace="System.Linq" %>
<%@ Import Namespace="Zetbox.API" %>
<%@ Import Namespace="Zetbox.API.Server" %>
<%@ Import Namespace="Zetbox.App.Base" %>
<%@ Import Namespace="Zetbox.Generator" %>
<%@ Import Namespace="Zetbox.Generator.Extensions" %>
<%@ Parameter Name="ctx" Type="IZetboxContext" %>
<%@ Parameter Name="dt" Type="Zetbox.App.Base.DataType" %>
<%@ Parameter Name="m" Type="Zetbox.App.Base.Method" %>
<%@ Parameter Name="eventName" Type="string" %>
        // BEGIN <%= this.GetType() %>
		// CanExec
<%
		var eventName_CanExec = eventName + "_CanExec";
%>
		public static event CanExecMethodEventHandler<<%= dt.Name %>> <%= eventName_CanExec %>;

        [EventBasedMethod("<%= eventName_CanExec %>")]
        <%= GetModifiers() %> bool <%= m.Name %>CanExec
        {
			get 
			{
				var e = new MethodReturnEventArgs<bool>();
				if (<%= eventName_CanExec %> != null)
				{
					<%= eventName_CanExec %>(this, e);
				}
				else
				{
<%      if (m.ObjectClass == dt || !(dt is ObjectClass)) { %>
					e.Result = true;
<%      } else { %>
					e.Result = base.<%= m.Name %>CanExec;
<%      } %>
				}
				return e.Result;
			}
        }

		// CanExecReason
<%
		var eventName_CanExecReason = eventName + "_CanExecReason";
%>
		public static event CanExecReasonMethodEventHandler<<%= dt.Name %>> <%= eventName_CanExecReason %>;

        [EventBasedMethod("<%= eventName_CanExecReason %>")]
        <%= GetModifiers() %> string <%= m.Name %>CanExecReason
        {
			get 
			{
				var e = new MethodReturnEventArgs<string>();
				if (<%= eventName_CanExecReason %> != null)
				{
					<%= eventName_CanExecReason %>(this, e);
				}
				else
				{
<%      if (m.ObjectClass == dt || !(dt is ObjectClass)) { %>
					e.Result = string.Empty;
<%      } else { %>
					e.Result = base.<%= m.Name %>CanExecReason;
<%      } %>
				}
				return e.Result;
			}
        }
        // END <%= this.GetType() %>
