<%--
    This file is part of zetbox.

    Zetbox is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as
    published by the Free Software Foundation, either version 3 of
    the License, or (at your option) any later version.

    Zetbox is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU Lesser General Public
    License along with zetbox.  If not, see <http://www.gnu.org/licenses/>.
--%>
<%@ CodeTemplate Language="C#"
    Name="ObjectClasses.OnPropertyChange"
    ClassName="Zetbox.Generator.Templates.ObjectClasses.OnPropertyChange"
    Inherits="Zetbox.Generator.ResourceTemplate" %>
<%@ Import Namespace="System" %>
<%@ Import Namespace="System.Linq" %>
<%@ Import Namespace="Zetbox.API" %>
<%@ Import Namespace="Zetbox.API.Server" %>
<%@ Import Namespace="Zetbox.App.Base" %>
<%@ Import Namespace="Zetbox.Generator" %>
<%@ Import Namespace="Zetbox.Generator.Extensions" %>
<%@ Parameter Name="ctx" Type="IZetboxContext" %>
<%@ Parameter Name="dt" Type="DataType" %>
<% var recalcProps = GetRecalcProperties();                                                                         %>
<% var auditProps = GetAuditProperties();                                                                           %>
<% var nonModProps = GetNonModifyingProperties();                                                                   %>
        #region <%= this.GetType() %>

<% if (auditProps.Count > 0 && !(dt is CompoundObject)) {                                                           %>
        protected override void OnPropertyChanged(string property, object oldValue, object newValue)
        {
            base.OnPropertyChanged(property, oldValue, newValue);

            // Do not audit calculated properties
            switch (property)
            {
<%      foreach (var prop in auditProps ) {                                                                         %>
                case "<%= prop.Name %>":
<%      }                                                                                                           %>
                    AuditPropertyChange(property, oldValue, newValue);
                    break;
            }
        }
<% }                                                                                                                %>
<% if (recalcProps.Count > 0 && !(dt is CompoundObject)) {                                                          %>

        public override void Recalculate(string property)
        {
            switch (property)
            {
<%      foreach (var prop in recalcProps) {                                                                         %>
                case "<%= prop.Name %>":
<%          ApplyNotifyPropertyChanging(prop);                                                                      %>
                    _<%= prop.Name %>_IsDirty = true;
<%          ApplyNotifyPropertyChanged(prop);                                                                       %>
                    return;
<%      }                                                                                                           %>
            }

            base.Recalculate(property);
        }
<% }                                                                                                                %>
<% if (nonModProps.Count > 0) {                                                                                     %>

        protected override bool ShouldSetModified(string property)
        {
            switch (property)
            {
<%      foreach (var prop in nonModProps) {                                                                         %>
                case "<%= prop.Name %>":
<%      }                                                                                                           %>
                    return false;
                default:
                    return base.ShouldSetModified(property);
            }
        }
<% }                                                                                                                %>
        #endregion // <%= this.GetType() %>
