<%@ CodeTemplate Language="C#" 
    Name="ObjectClasses.ReloadOneReference"
    ClassName="Zetbox.Generator.Templates.ObjectClasses.ReloadOneReference" 
    Inherits="Zetbox.Generator.ResourceTemplate" %>
<%@ Import Namespace="System" %>
<%@ Import Namespace="System.Linq" %>
<%@ Import Namespace="Zetbox.API" %>
<%@ Import Namespace="Zetbox.API.Server" %>
<%@ Import Namespace="Zetbox.App.Base" %>
<%@ Import Namespace="Zetbox.App.Extensions" %>
<%@ Import Namespace="Zetbox.Generator" %>
<%@ Import Namespace="Zetbox.Generator.Extensions" %>
<%@ Parameter Name="ctx" Type="IZetboxContext" %>
<%@ Parameter Name="referencedInterface" Type="string" %>
<%@ Parameter Name="referencedImplementation" Type="string" %>
<%@ Parameter Name="name" Type="string" %>
<%@ Parameter Name="implName" Type="string" %>
<%@ Parameter Name="fkBackingName" Type="string" %>
<%@ Parameter Name="fkGuidBackingName" Type="string" %>
<%@ Parameter Name="isExportable" Type="bool" %>

<% if (isExportable) { %>
            if (<%= fkGuidBackingName %>.HasValue)
                <%= implName %> = (<%= referencedImplementation %>)Context.FindPersistenceObject<<%= referencedInterface %>>(<%= fkGuidBackingName %>.Value);
            else
<% } %>
            if (<%= fkBackingName %>.HasValue)
                <%= implName %> = (<%= referencedImplementation %>)Context.Find<<%= referencedInterface %>>(<%= fkBackingName %>.Value);
            else
                <%= implName %> = null;
