<%@ CodeTemplate Language="C#" 
    Name="Properties.EfListWrapper"
    ClassName="Zetbox.DalProvider.Ef.Generator.Templates.Properties.EfListWrapper" 
    Inherits="Zetbox.Generator.ResourceTemplate" %>
<%@ Import Namespace="System" %>
<%@ Import Namespace="Zetbox.API" %>
<%@ Import Namespace="Zetbox.API.Server" %>
<%@ Import Namespace="Zetbox.App.Base" %>
<%@ Import Namespace="Zetbox.Generator" %>
<%@ Import Namespace="Zetbox.Generator.Extensions" %>
<%@ Parameter Name="ctx" Type="IZetboxContext" %>
<%@ Parameter Name="name" Type="String" %>
<%@ Parameter Name="associationName" Type="String" %>
<%@ Parameter Name="roleName" Type="String" %>
<%@ Parameter Name="referencedCollectionEntry" Type="String" %>
        // BEGIN <%= this.GetType() %>
        [EdmRelationshipNavigationPropertyAttribute("Model", "<%= associationName %>", "<%= roleName %>")]
        public EntityCollection<<%= referencedCollectionEntry %>> <%= name %>
        {
            get
            {
                EntityCollection<<%= referencedCollectionEntry %>> c
                    = ((IEntityWithRelationships)(this)).RelationshipManager.GetRelatedCollection<<%= referencedCollectionEntry %>>(
                        "Model.<%= associationName %>",
                        "<%= roleName %>");
                if (this.EntityState.In(System.Data.EntityState.Modified, System.Data.EntityState.Unchanged)
                    && !c.IsLoaded)
                {
                    c.Load();
                }
                c.ForEach(i => i.AttachToContext(Context));
                return c;
            }
        }
        // END <%= this.GetType() %>
