<%--
    This file is part of zetbox.

    Zetbox is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as
    published by the Free Software Foundation, either version 3 of
    the License, or (at your option) any later version.

    Zetbox is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU Lesser General Public
    License along with zetbox.  If not, see <http://www.gnu.org/licenses/>.
--%>
<%@ CodeTemplate Language="C#" 
    Name="Properties.EfListWrapper"
    ClassName="Zetbox.DalProvider.Ef.Generator.Templates.Properties.EfListWrapper" 
    Inherits="Zetbox.Generator.ResourceTemplate" %>
<%@ Import Namespace="System" %>
<%@ Import Namespace="Zetbox.API" %>
<%@ Import Namespace="Zetbox.API.Server" %>
<%@ Import Namespace="Zetbox.App.Base" %>
<%@ Import Namespace="Zetbox.Generator" %>
<%@ Import Namespace="Zetbox.Generator.Extensions" %>
<%@ Parameter Name="ctx" Type="IZetboxContext" %>
<%@ Parameter Name="name" Type="String" %>
<%@ Parameter Name="associationName" Type="String" %>
<%@ Parameter Name="roleName" Type="String" %>
<%@ Parameter Name="referencedCollectionEntry" Type="String" %>
        // BEGIN <%= this.GetType() %>
        [EdmRelationshipNavigationPropertyAttribute("Model", "<%= associationName %>", "<%= roleName %>")]
        public EntityCollection<<%= referencedCollectionEntry %>> <%= name %>
        {
            get
            {
                EntityCollection<<%= referencedCollectionEntry %>> c
                    = ((IEntityWithRelationships)(this)).RelationshipManager.GetRelatedCollection<<%= referencedCollectionEntry %>>(
                        "Model.<%= associationName %>",
                        "<%= roleName %>");
                if (this.EntityState.In(System.Data.EntityState.Modified, System.Data.EntityState.Unchanged)
                    && !c.IsLoaded)
                {
                    c.Load();
                }
                return c;
            }
        }
        // END <%= this.GetType() %>
