<?xml version="1.0"?>
<package>
  <metadata>
    <id>zetboxBasic-Tests</id>
    <version>##version##</version>
    <title>zetbox Basic Test assemblies</title>
    <authors>dasz.at OG</authors>
    <owners>dasz.at OG</owners>
	<license type="expression">LGPL-2.0-or-later</license>
    <projectUrl>http://zetbox.at/</projectUrl>
    <requireLicenseAcceptance>false</requireLicenseAcceptance>
    <description>Unit tests for the zetbox.</description>
    <releaseNotes>First package.</releaseNotes>
    <copyright>Copyright © 2019 dasz.at OG</copyright>
    <dependencies>
	  <group targetFramework="net60">
        <dependency id="NUnit" version="[3.12,4)" />
        <dependency id="zetboxBasic" version="[##version##]" />
        <dependency id="zetboxBasic-Common" version="[##version##]" />
        <!-- "everything" -->
	  </group>
    </dependencies>
  </metadata>
  <files>
    <file src="Tests\Zetbox.Tests.Utilities.*.dll" target="lib\net5.0" />
    <file src="Tests\Zetbox.Tests.Utilities.*.pdb" target="lib\net5.0" />
    <file src="Tests\Zetbox.API.AbstractConsumerTests.dll" target="lib\net5.0" />
    <file src="Tests\Zetbox.API.AbstractConsumerTests.pdb" target="lib\net5.0" />

    <!-- Don't use this here, as tests always need a local copy! -->
    <!-- <file src="install-references.ps1" target="tools\install.ps1" /> -->
  </files>
</package>