<%@ CodeTemplate Language="C#" 
    Name="EfModel.ModelMsl"
    ClassName="Kistl.DalProvider.Ef.Generator.Templates.EfModel.ModelMsl" 
    Inherits="Kistl.Generator.ResourceTemplate" %>
<%@ Import Namespace="System" %>
<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="System.Linq" %>
<%@ Import Namespace="Kistl.API" %>
<%@ Import Namespace="Kistl.API.Server" %>
<%@ Import Namespace="Kistl.App.Base" %>
<%@ Import Namespace="Kistl.App.Extensions" %>
<%@ Import Namespace="Kistl.Generator" %>
<%@ Import Namespace="Kistl.Generator.Extensions" %>
<%@ Parameter Name="ctx" Type="IKistlContext" %>
<?xml version="1.0" encoding="utf-8"?>
<Mapping Space="C-S" xmlns="urn:schemas-microsoft-com:windows:storage:mapping:CS">
  <EntityContainerMapping StorageEntityContainer="dbo" CdmEntityContainer="Entities">
    
    <!-- EntitySetMappings for classes -->
<%
    foreach(var cls in ctx.GetBaseClasses().OrderBy(c => c.Name))
    {
%>
    <EntitySetMapping Name="<%= cls.Name %>">
<% ApplyEntityTypeMapping(cls); %>
    </EntitySetMapping>
<%
		if(cls.NeedsRightsTable())
		{
%>
    <EntitySetMapping Name="<%= Construct.SecurityRulesClassName(cls) %>">
      <EntityTypeMapping TypeName="IsTypeOf(Model.<%= Construct.SecurityRulesClassName(cls, this.Settings["extrasuffix"]) %>)">
        <MappingFragment StoreEntitySet="<%= Construct.SecurityRulesClassName(cls) %>">
          <ScalarProperty Name="ID" ColumnName="ID" />
          <ScalarProperty Name="Identity" ColumnName="Identity" />
          <ScalarProperty Name="Right" ColumnName="Right" />
        </MappingFragment>
      </EntityTypeMapping>
    </EntitySetMapping>
    <AssociationSetMapping Name="<%= Construct.SecurityRulesFKName(cls) %>" TypeName="Model.<%= Construct.SecurityRulesFKName(cls) %>" StoreEntitySet="<%= Construct.SecurityRulesClassName(cls) %>">
      <EndProperty Name="<%= cls.Name %>">
        <ScalarProperty Name="ID" ColumnName="ID" />
      </EndProperty>
      <EndProperty Name="<%= Construct.SecurityRulesClassName(cls) %>">
        <ScalarProperty Name="ID" ColumnName="ID" />
        <ScalarProperty Name="Identity" ColumnName="Identity" />
      </EndProperty>
    </AssociationSetMapping>
<%
		}
    }
%>


    <!-- EntitySetMappings and AssociationSetMappings for object-object relations with a CollectionEntry -->
<%
    foreach(var rel in ModelCsdl.GetRelationsWithSeparateStorage(ctx))
    {
        string fkAName = rel.GetRelationFkColumnName(RelationEndRole.A);
        string fkBName = rel.GetRelationFkColumnName(RelationEndRole.B);
%>
    <!--
<%
    RelationDebugTemplate.Call(Host, ctx, rel);
%>
    -->
    <EntitySetMapping Name="<%= rel.GetRelationClassName() %>">
      <EntityTypeMapping TypeName="IsTypeOf(Model.<%= rel.GetRelationClassName() %>)">
        <MappingFragment StoreEntitySet="<%= rel.GetRelationClassName() %>">
          <ScalarProperty Name="ID" ColumnName="ID" />
<% 
		if(rel.A.Type.ImplementsIExportable() && rel.B.Type.ImplementsIExportable())
		{
%>
		  <ScalarProperty Name="ExportGuid" ColumnName="ExportGuid" />
<%	
		}
		if (rel.NeedsPositionStorage(RelationEndRole.A))
		{
%>
          <ScalarProperty Name="A<%= Kistl.API.Helper.PositionSuffix %>" ColumnName="<%= fkAName %><%= Kistl.API.Helper.PositionSuffix %>" />
<%
		}

		if (rel.NeedsPositionStorage(RelationEndRole.B))
		{
%>
          <ScalarProperty Name="B<%= Kistl.API.Helper.PositionSuffix %>" ColumnName="<%= fkBName %><%= Kistl.API.Helper.PositionSuffix %>" />
<%
		}
%>
        </MappingFragment>
      </EntityTypeMapping>
    </EntitySetMapping>
    <!-- A to CollectionEntry -->
    <AssociationSetMapping Name="<%= rel.GetRelationAssociationName(RelationEndRole.A) %>"
                           TypeName="Model.<%= rel.GetRelationAssociationName(RelationEndRole.A) %>"
                           StoreEntitySet="<%= rel.GetRelationClassName() %>" >
      <EndProperty Name="<%= rel.A.RoleName %>">
        <ScalarProperty Name="ID" ColumnName="<%= fkAName %>"/>
      </EndProperty>
      <EndProperty Name="CollectionEntry">
        <ScalarProperty Name="ID" ColumnName="ID"/>
      </EndProperty>
      <Condition ColumnName="<%= fkAName %>" IsNull="false"/>
    </AssociationSetMapping>
    <!-- B to CollectionEntry -->
    <AssociationSetMapping Name="<%= rel.GetRelationAssociationName(RelationEndRole.B) %>"
                           TypeName="Model.<%= rel.GetRelationAssociationName(RelationEndRole.B) %>"
                           StoreEntitySet="<%= rel.GetRelationClassName() %>" >
      <EndProperty Name="<%= rel.B.RoleName %>">
        <ScalarProperty Name="ID" ColumnName="<%= fkBName %>"/>
      </EndProperty>
      <EndProperty Name="CollectionEntry">
        <ScalarProperty Name="ID" ColumnName="ID"/>
      </EndProperty>
      <Condition ColumnName="<%= fkBName %>" IsNull="false"/>
    </AssociationSetMapping>

<%
    }
    
%>


    <!-- AssociationSetMappings for direct object-object relations without a CollectionEntry -->
<%
    foreach(var rel in ModelCsdl.GetRelationsWithoutSeparateStorage(ctx))
    {
        RelationEnd principal, dependent;
    
        switch(rel.Storage)
        {
            case StorageType.MergeIntoA:
                principal = rel.B;
                dependent = rel.A;
                break;
            case StorageType.MergeIntoB:
                principal = rel.A;
                dependent = rel.B;
                break;
            default:
                throw new NotImplementedException();
        }
%>
    <!--
<%
    RelationDebugTemplate.Call(Host, ctx, rel);
%>
    -->
    <AssociationSetMapping Name="<%= rel.GetAssociationName() %>"
                           TypeName="Model.<%= rel.GetAssociationName() %>"
                           StoreEntitySet="<%= dependent.Type.Name %>" >
      <EndProperty Name="<%= principal.RoleName %>">
        <ScalarProperty Name="ID" ColumnName="fk_<%= principal.RoleName %>"/>
      </EndProperty>
      <EndProperty Name="<%= dependent.RoleName %>">
        <ScalarProperty Name="ID" ColumnName="ID"/>
      </EndProperty>
      <Condition ColumnName="fk_<%= principal.RoleName %>" IsNull="false"/>
    </AssociationSetMapping>
<%
    }
    
%>

    <!-- EntitySetMappings and AssociationSetMappings for object-value CollectionEntrys -->
<%
    foreach(var prop in ctx.GetQuery<ValueTypeProperty>()
        .Where(p => p.IsList)
        .OrderBy(p => p.ObjectClass.Name)
        .ThenBy(p => p.Name))
    { 
%>
    <EntitySetMapping Name="<%= prop.GetCollectionEntryClassName() %>">
      <EntityTypeMapping TypeName="IsTypeOf(Model.<%= prop.GetCollectionEntryClassName() %>)">
        <MappingFragment StoreEntitySet="<%= prop.GetCollectionEntryClassName() %>">
          <ScalarProperty Name="ID" ColumnName="ID" />
          <ScalarProperty Name="Value" ColumnName="<%= prop.Name %>" />
<%
		if (prop.HasPersistentOrder)
		{
%>
          <ScalarProperty Name="B<%= Kistl.API.Helper.PositionSuffix %>" ColumnName="BIndex" />
<%
		}
%>
        </MappingFragment>
      </EntityTypeMapping>
    </EntitySetMapping>
    <AssociationSetMapping Name="<%= prop.GetAssociationName() %>"
                           TypeName="Model.<%= prop.GetAssociationName() %>"
                           StoreEntitySet="<%= prop.GetCollectionEntryClassName() %>" >
      <EndProperty Name="<%= prop.ObjectClass.Name %>">
        <ScalarProperty Name="ID" ColumnName="fk_<%= prop.ObjectClass.Name %>"/>
      </EndProperty>
      <EndProperty Name="CollectionEntry">
        <ScalarProperty Name="ID" ColumnName="ID"/>
      </EndProperty>
      <Condition ColumnName="fk_<%= prop.ObjectClass.Name %>" IsNull="false"/>
    </AssociationSetMapping>
<%
    }
    
%>

    <!-- EntitySetMappings and AssociationSetMappings for object-struct CollectionEntrys -->
<%
    foreach(var prop in ctx.GetQuery<CompoundObjectProperty>()
        .Where(p => p.IsList)
        .OrderBy(p => p.ObjectClass.Name)
        .ThenBy(p => p.Name))
    { 
%>
    <EntitySetMapping Name="<%= prop.GetCollectionEntryClassName() %>">
      <EntityTypeMapping TypeName="IsTypeOf(Model.<%= prop.GetCollectionEntryClassName() %>)">
        <MappingFragment StoreEntitySet="<%= prop.GetCollectionEntryClassName() %>">
          <ScalarProperty Name="ID" ColumnName="ID" />
          <% ModelMslEntityTypeMappingComplexProperty.Call(Host, ctx, prop, "Value", string.Empty); %>
<%
		if (prop.HasPersistentOrder)
		{
%>
          <ScalarProperty Name="Value<%= Kistl.API.Helper.PositionSuffix %>" ColumnName="BIndex" />
<%
		}
%>
        </MappingFragment>
      </EntityTypeMapping>
    </EntitySetMapping>
    <AssociationSetMapping Name="<%= prop.GetAssociationName() %>"
                           TypeName="Model.<%= prop.GetAssociationName() %>"
                           StoreEntitySet="<%= prop.GetCollectionEntryClassName() %>" >
      <EndProperty Name="<%= prop.ObjectClass.Name %>">
        <ScalarProperty Name="ID" ColumnName="fk_<%= prop.ObjectClass.Name %>"/>
      </EndProperty>
      <EndProperty Name="CollectionEntry">
        <ScalarProperty Name="ID" ColumnName="ID"/>
      </EndProperty>
      <Condition ColumnName="fk_<%= prop.ObjectClass.Name %>" IsNull="false"/>
    </AssociationSetMapping>
<%
    }
    
%>

  </EntityContainerMapping>
</Mapping>