<%@ CodeTemplate Language="C#" 
	Name="Properties.EnumerationPropertyTemplate"
	ClassName="Kistl.DalProvider.Ef.Generator.Templates.Properties.EnumerationPropertyTemplate" 
	Inherits="Kistl.Generator.ResourceTemplate" %>
<%@ Import Namespace="System" %>
<%@ Import Namespace="System.Linq" %>
<%@ Import Namespace="Kistl.API" %>
<%@ Import Namespace="Kistl.API.Server" %>
<%@ Import Namespace="Kistl.App.Base" %>
<%@ Import Namespace="Kistl.Generator" %>
<%@ Import Namespace="Kistl.Generator.Extensions" %>
<%@ Parameter Name="ctx" Type="IKistlContext" %>
<%@ Parameter Name="serializationList" Type="Kistl.Generator.Templates.Serialization.SerializationMembersList" %>
<%@ Parameter Name="prop" Type="EnumerationProperty" %>
<%@ Parameter Name="callGetterSetterEvents" Type="bool" %>
<%

	string interfaceName = prop.ObjectClass.Name;

	string name = prop.Name;
	string efName = name + ImplementationPropertySuffix;
	string backingName = "_" + name;

	bool isNullable = prop.Constraints.OfType<NotNullableConstraint>().Count() == 0;
	string enumType = prop.GetElementTypeString();
	string eventName = "On" + name;

%>
   		// <%= this.GetType() %>
        // implement the user-visible interface
        public <%= enumType %> <%= name %>
        {
            get
            {
                if (!CurrentAccessRights.HasReadRights()) return default(<%= enumType %>);
<%
				if(callGetterSetterEvents)
				{
%>
				var __value = <%= backingName %>;
				if(<%= eventName %>_Getter != null)
				{
					var e = new PropertyGetterEventArgs<<%= enumType %>>(__value);
					<%= eventName %>_Getter(this, e);
					__value = e.Result;
				}
                return __value;
<% 
				}
				else
				{
%>
				return <%= backingName %>;
<%
				}
%>            }
            set
            {
                if (((IPersistenceObject)this).IsReadonly) throw new ReadOnlyObjectException();
                if (<%= backingName %> != value)
                {
					var __oldValue = <%= backingName %>;
					var __newValue = value;
<%
					if(callGetterSetterEvents)
					{
%>
                    if(<%= eventName %>_PreSetter != null)
                    {
						var e = new PropertyPreSetterEventArgs<<%= enumType %>>(__oldValue, __newValue);
						<%= eventName %>_PreSetter(this, e);
						__newValue = e.Result;
                    }
<%
					}
%>					
                    NotifyPropertyChanging("<%= name %>", "<%= efName %>", __oldValue, __newValue);
                    <%= backingName %> = value;
                    NotifyPropertyChanged("<%= name %>", "<%= efName %>", __oldValue, __newValue);
<%
					if(callGetterSetterEvents)
					{
%>
                    if(<%= eventName %>_PostSetter != null)
                    {
						var e = new PropertyPostSetterEventArgs<<%= enumType %>>(__oldValue, __newValue);
						<%= eventName %>_PostSetter(this, e);
                    }
<%
					}
%>                    
                }
            }
        }

<% EfScalarPropHelper.ApplyBackingStoreDefinition(this, enumType, backingName); %>
        
        /// <summary>EF sees only this property, for <%= UglyXmlEncode(name) %></summary>
        [XmlIgnore()]
        [EdmScalarProperty()]
        public int<%= isNullable ? "?" : String.Empty %> <%= efName %>
        {
            get
            {
                return (int<%= isNullable ? "?" : String.Empty %>)this.<%= name %>;
            }
            set
            {
                this.<%= name %> = (<%= enumType %>)value;
            }
        }
        
<%
    AddSerialization(serializationList);
%>