<%@ CodeTemplate Language="C#" 
    Name="Implementation.CollectionEntries.Template"
    ClassName="Kistl.Server.Generators.Templates.Implementation.CollectionEntries.Template" 
    Inherits="Kistl.Server.Generators.KistlCodeTemplate" %>
<%@ Import Namespace="System" %>
<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="Kistl.API" %>
<%@ Import Namespace="Kistl.API.Server" %>
<%@ Import Namespace="Kistl.App.Base" %>
<%@ Import Namespace="Kistl.Server.Generators" %>
<%@ Import Namespace="Kistl.Server.Generators.Extensions" %>
<%@ Parameter Name="ctx" Type="IKistlContext" %>
<%
    ApplyClassAttributeTemplate();
%>
    [System.Diagnostics.DebuggerDisplay("<%= GetCeClassName() %>")]
    public class <%= GetCeClassName() %> <%= GetInheritance() %>
    {
    
<%
    ApplyIdPropertyTemplate();
%>

        /// <summary>
        /// Reference to the A-Side member of this CollectionEntry
        /// </summary>
<%
    ApplyAPropertyTemplate();
%>
        /// <summary>
        /// the B-side value of this CollectionEntry
        /// </summary>
<%
    ApplyBPropertyTemplate();



    if (IsOrdered())
    {
%>



        /// <summary>
        /// Index into the A-side list of this relation
        /// </summary>
<%
        ApplyAIndexPropertyTemplate();
%>

        /// <summary>
        /// Index into the B-side list of this relation
        /// </summary>
<%
        ApplyBIndexPropertyTemplate();
    }
%>

#region Serializer

<%
    CallTemplate("Implementation.ObjectClasses.SerializerTemplate", ctx,
        Templates.Implementation.SerializerDirection.ToStream, this.MembersToSerialize);
    
    CallTemplate("Implementation.ObjectClasses.SerializerTemplate", ctx,
        Templates.Implementation.SerializerDirection.FromStream, this.MembersToSerialize);
%>

#endregion

	public override Type GetInterfaceType()
	{
		return typeof(<%= GetCeInterface() %>);
	}

<%
    ApplyClassTailTemplate();
%>

    }
