<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="servercomponents" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
  </configSections>
  <system.serviceModel>
    <!-- Binding -->
    <bindings>
      <wsHttpBinding>
        <binding name="KistlService_Binding" closeTimeout="00:01:00"
				    openTimeout="00:01:00" receiveTimeout="10:00:00" sendTimeout="00:10:00"
				    bypassProxyOnLocal="true" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
				    messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false"
            maxBufferPoolSize="524288" maxReceivedMessageSize="6553600">
          <security mode="Message">
            <message clientCredentialType="Windows"/>
          </security>
          <readerQuotas maxStringContentLength="1600000000" maxArrayLength="1600000000" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <!-- Server -->
    <behaviors>
      <serviceBehaviors>
        <behavior name="KistlService_Behaviour">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:6666/KistlService" />
          <!--
            To receive exception details in faults for debugging purposes, set the value below to true.
            Set to false before deployment to avoid disclosing exception information.
            Hint from http://geekswithblogs.net/frankw/archive/2008/03/12/includeexceptiondetailinfaults-in-wcf-service-configuration.aspx
          -->
          <serviceDebug includeExceptionDetailInFaults="true" httpHelpPageEnabled="true" httpHelpPageUrl="http://localhost:6666/KistlService/Help"/>
          <!-- 
            We are using sessions! Not realy sessions like ASP.NET sessions, we do not have state at the server. 
            But the configurated security mode establishes a session. Thus we have to increse the maxConcurrentSessions throttle.
            200 because WCF 4.0 uses 100 * processor count for session and 16 * processor count for calls
          -->
          <serviceThrottling maxConcurrentSessions="200" />
        </behavior>
        <behavior name="Kistl.Server.BootstrapperServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Kistl.Server.KistlService" behaviorConfiguration="KistlService_Behaviour">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:6666/KistlService"/>
          </baseAddresses>
        </host>
        <endpoint address="http://localhost:6666/KistlService" binding="wsHttpBinding"
						  bindingConfiguration="KistlService_Binding" contract="Kistl.API.IKistlService"
							name="KistlService_Endpoint">
        </endpoint>
      </service>
      <service name="Kistl.Server.BootstrapperService" behaviorConfiguration="Kistl.Server.BootstrapperServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:6666/Bootstrapper.svc"/>
          </baseAddresses>
        </host>
        <endpoint address="http://localhost:6666/Bootstrapper.svc" binding="webHttpBinding" contract="Kistl.Server.IBootstrapperService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
  <log4net>
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="WARN" />
      <appender-ref ref="TraceAppender" />
    </root>
    <logger name="Kistl.Reflection">
      <level value="ERROR" />
    </logger>
    <logger name="Kistl.Facade">
      <level value="WARN" />
    </logger>
    <logger name="Kistl.Linq">
      <level value="WARN" />
    </logger>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!--
          redirect old versions of the MSBuild Framework to the current implementation 
          See http://social.msdn.microsoft.com/Forums/en-US/msbuild/thread/2772a075-4e2f-42af-9e7a-2228b794368e/
          Specifically, this is needed for the EntityFramework Build Tasks
      -->
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Build.Framework" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
        <bindingRedirect oldVersion="2.0.0.0-2.0.10.0" newVersion="2.0.11.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!-- See http://npgsql.projects.postgresql.org/docs/manual/UserManual.html "Using Npgsql with ProviderFactory" -->
  <system.data>
    <DbProviderFactories>
      <add name="Npgsql Data Provider"
           invariant="Npgsql"
           support="FF"
           description=".Net Framework Data Provider for Postgresql Server"
           type="Npgsql.NpgsqlFactory, Npgsql, Version=2.0.11.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" />
    </DbProviderFactories>
  </system.data>
  <!--
  See http://code.google.com/p/autofac/wiki/XmlConfiguration for syntax
  See ServerModule and StoreProvider for overridable things.
  -->
  <servercomponents />
</configuration>
