<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="NUnit">
      <section name="TestRunner" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
  </configSections>
  <NUnit>
    <TestRunner>
	    <!-- Valid values are STA,MTA. Others ignored. -->
	    <!-- This is needed for the Client Tests:
		Kistl.GUI.Renderer.WPF.Tests.ObjectReferenceControlTests.TestLoadedType:
		System.Reflection.TargetInvocationException : Ein Aufrufziel
		hat einen Ausnahmefehler verursacht.
		>> System.InvalidOperationException : Beim aufrufenden Thread
		>> muss es sich um einen STA-Thread handeln, da dies für viele
		>> Komponenten der Benutzeroberfläche erforderlich ist.
		-->	    
      <add key="ApartmentState" value="STA" />
    </TestRunner>
  </NUnit>
</configuration>
