<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="2.6.1.841" />
  <package id="log4net" version="2.0.0" />
  <package id="MSBuildVersioning" version="1.0.34.0" />
  <package id="NUnit" version="2.6.1" targetFramework="net35" />
  <package id="NUnit.Runners" version="2.6.0.12051" />
</packages>