<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TraceClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <trace>
      <listeners>
        <add name="tcp" type="TraceClient.TcpTraceListener, TraceListener" port="666" />
      </listeners>
    </trace>
  </system.diagnostics>
  <userSettings>
    <TraceClient.Properties.Settings>
      <setting name="TraceSources" serializeAs="String">
        <value>127.0.0.1:666;127.0.0.1:667</value>
      </setting>
    </TraceClient.Properties.Settings>
  </userSettings>
</configuration>