<%--
    This file is part of zetbox.

    Zetbox is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as
    published by the Free Software Foundation, either version 3 of
    the License, or (at your option) any later version.

    Zetbox is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU Lesser General Public
    License along with zetbox.  If not, see <http://www.gnu.org/licenses/>.
--%>
<%@ CodeTemplate Language="C#"
    Name="Properties.CalculatedProperty"
    ClassName="Zetbox.Generator.Templates.Properties.CalculatedProperty"
    Inherits="Zetbox.Generator.MemberTemplate" %>
<%@ Import Namespace="System" %>
<%@ Import Namespace="Zetbox.API" %>
<%@ Parameter Name="ctx" Type="IZetboxContext" %>
<%@ Parameter Name="serializationList" Type="Serialization.SerializationMembersList" %>
<%@ Parameter Name="modulenamespace" Type="string" %>
<%@ Parameter Name="className" Type="string" %>
<%@ Parameter Name="referencedType" Type="string" %>
<%@ Parameter Name="propertyName" Type="string" %>
<%@ Parameter Name="getterEventName" Type="string" %>
<%@ Parameter Name="isCompound" Type="bool" %>
<%@ Parameter Name="disableExport" Type="bool" %>
        // BEGIN <%= this.GetType() %>
        <%= GetModifiers() %> <%= referencedType %> <%= propertyName %>
        {
            get
            {
                if (<%= getterEventName %> == null)
                {
                    throw new NotImplementedException("No handler registered on calculated property <%= className %>.<%= propertyName %>");
                }
<% if (isCompound) { %>
                var e = new PropertyGetterEventArgs<<%= referencedType %>>(default(<%= referencedType %>));
                <%= getterEventName %>(this, e);
                return e.Result;
<% } else { %>
                if (_<%= propertyName %>_IsDirty)
                {
                    var e = new PropertyGetterEventArgs<<%= referencedType %>>(default(<%= referencedType %>));
                    <%= getterEventName %>(this, e);
                    <%= ApplyStorageStatement("e.Result") %>
                    _<%= propertyName %>_IsDirty = false;
                }
                return <%= ApplyResultExpression() %>;
<% } %>
            }
        }
<% if (!isCompound) { %>
        <%= ApplyBackingStorageDefinition() %>
<% } %>
        private bool _<%= propertyName %>_IsDirty = true; // Always true as it will not be stored in the database (yet)
        // END <%= this.GetType() %>
