<%@ CodeTemplate Language="C#" 
	Name="Properties.CollectionEntryListProperty"
	ClassName="Zetbox.Generator.Templates.Properties.CollectionEntryListProperty" 
	Inherits="Zetbox.Generator.MemberTemplate" %>
<%@ Import Namespace="System" %>
<%@ Import Namespace="Zetbox.API" %>
<%@ Import Namespace="Zetbox.API.Server" %>
<%@ Import Namespace="Zetbox.App.Base" %>
<%@ Import Namespace="Zetbox.Generator" %>
<%@ Import Namespace="Zetbox.Generator.Extensions" %>
<%@ Parameter Name="ctx" Type="IZetboxContext" %>
<%@ Parameter Name="serializationList" Type="Serialization.SerializationMembersList" %>
<%@ Parameter Name="name" Type="string" %>
<%@ Parameter Name="exposedCollectionInterface" Type="string" %>
<%@ Parameter Name="referencedInterface" Type="string" %>
<%@ Parameter Name="backingName" Type="string" %>
<%@ Parameter Name="backingCollectionType" Type="string" %>
<%@ Parameter Name="aSideType" Type="string" %>
<%@ Parameter Name="bSideType" Type="string" %>
<%@ Parameter Name="entryType" Type="string" %>
<%@ Parameter Name="providerCollectionType" Type="string" %>
<%@ Parameter Name="relId" Type="Guid" %>
<%@ Parameter Name="role" Type="RelationEndRole" %>
<%@ Parameter Name="eagerLoading" Type="bool" %>
   		// <%= this.GetType() %>
		<%= GetModifiers() %> <%= exposedCollectionInterface %><<%= referencedInterface %>> <%= name %>
		{
			get
			{
				if (<%= backingName %> == null)
				{
<%
	// eagerly loaded relation already has the objects loaded
	if (!eagerLoading)
	{
%>
					Context.FetchRelation<<%= entryType %>>(new Guid("<%= relId %>"), RelationEndRole.<%= role %>, this);
<%
	}
	else
	{
%>
					if (!<%= name %>_was_eagerLoaded) Context.FetchRelation<<%= entryType %>>(new Guid("<%= relId %>"), RelationEndRole.<%= role %>, this);
<%
	}
%>
					<%= backingName %> 
						= new <%= backingCollectionType %><<%= aSideType %>, <%= bSideType %>, <%= entryType %>, ICollection<<%= entryType %>>>(
							this, 
							new RelationshipFilter<%= role %>SideCollection<<%= entryType %>>(this.Context, this));
				}
				return (<%= exposedCollectionInterface %><<%= referencedInterface %>>)<%= backingName %>;
			}
		}

		private <%= backingCollectionType %><<%= aSideType %>, <%= bSideType %>, <%= entryType %>, ICollection<<%= entryType %>>> <%= backingName %>;
<%
	if (eagerLoading)
	{
%>		
		private bool <%= name %>_was_eagerLoaded = false;
<%
	}
        AddSerialization(serializationList, name, eagerLoading);
%>
