<%--
    This file is part of zetbox.

    Zetbox is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as
    published by the Free Software Foundation, either version 3 of
    the License, or (at your option) any later version.

    Zetbox is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU Lesser General Public
    License along with zetbox.  If not, see <http://www.gnu.org/licenses/>.
--%>
<%@ CodeTemplate Language="C#"
    Name="Properties.ComputeDefaultValue"
    ClassName="Zetbox.Generator.Templates.Properties.ComputeDefaultValue"
    Inherits="Zetbox.Generator.MemberTemplate" %>
<%@ Import Namespace="System" %>
<%@ Import Namespace="Zetbox.API" %>
<%@ Import Namespace="Zetbox.API.Server" %>
<%@ Import Namespace="Zetbox.App.Base" %>
<%@ Import Namespace="Zetbox.App.Extensions" %>
<%@ Import Namespace="Zetbox.Generator" %>
<%@ Import Namespace="Zetbox.Generator.Extensions" %>
<%@ Parameter Name="ctx" Type="IZetboxContext" %>
<%@ Parameter Name="interfaceName" Type="string" %>
<%@ Parameter Name="className" Type="string" %>
<%@ Parameter Name="propertyName" Type="string" %>
<%@ Parameter Name="isNullable" Type="bool" %>
<%@ Parameter Name="isSetFlagName" Type="string" %>
<%@ Parameter Name="propertyGuid" Type="Guid" %>
<%@ Parameter Name="backingStoreType" Type="string" %>
<%@ Parameter Name="backingStoreName" Type="string" %>
                if (!<%= isSetFlagName %> && ObjectState == DataObjectState.New) {
                    var __p = FrozenContext.FindPersistenceObject<Zetbox.App.Base.Property>(new Guid("<%= propertyGuid %>"));
                    if (__p != null) {
                        <%= isSetFlagName %> = true;
                        // http://connect.microsoft.com/VisualStudio/feedback/details/593117/cannot-directly-cast-boxed-int-to-nullable-enum
                        object __tmp_value = __p.DefaultValue.GetDefaultValue();
<%  if (isNullable) { %>
                            if (__tmp_value == null)
                                __result = this.<%= backingStoreName %> = null;
                            else
    <% } // Fix indent for next line %>
                        __result = this.<%= backingStoreName %> = (<%= backingStoreType.TrimEnd('?') %>)__tmp_value;
                    } else {
                        Zetbox.API.Utils.Logging.Log.Warn("Unable to get default value for property '<%= interfaceName %>.<%= propertyName %>'");
                    }
                }
