<%@ CodeTemplate Language="C#" 
	Name="Properties.ListProperty"
	ClassName="Zetbox.Generator.Templates.Properties.ListProperty" 
	Inherits="Zetbox.Generator.MemberTemplate" %>
<%@ Import Namespace="System" %>
<%@ Import Namespace="Zetbox.API" %>
<%@ Import Namespace="Zetbox.API.Server" %>
<%@ Import Namespace="Zetbox.App.Base" %>
<%@ Import Namespace="Zetbox.Generator" %>
<%@ Import Namespace="Zetbox.Generator.Extensions" %>
<%@ Parameter Name="ctx" Type="IZetboxContext" %>
<%@ Parameter Name="serializationList" Type="Serialization.SerializationMembersList" %>
<%@ Parameter Name="containingType" Type="DataType" %>
<%@ Parameter Name="name" Type="String" %>
<%@ Parameter Name="property" Type="Property" %>
<%
	ApplyAttributesTemplate();

	var backingName = BackingMemberFromName(name);
%>
   		// <%= this.GetType() %>
        <%= GetModifiers() %> <%= GetPropertyTypeString() %> <%= name %>
        {
            get
            {
                if (<%= backingName %> == null)
                    <%= backingName %> = <%= GetInitialisationExpression() %>;
                return <%= backingName %>;
            }
<%
			ApplySettor();
%>
        }
        private <%= GetBackingTypeString() %> <%= backingName %>;
<%
	AddSerialization(serializationList, name);


	ApplyRequisitesTemplate();
%>
