<%--
    This file is part of zetbox.

    Zetbox is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as
    published by the Free Software Foundation, either version 3 of
    the License, or (at your option) any later version.

    Zetbox is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU Lesser General Public
    License along with zetbox.  If not, see <http://www.gnu.org/licenses/>.
--%>
<%@ CodeTemplate Language="C#" 
    Name="Properties.NotifyingValueProperty"
    ClassName="Zetbox.Generator.Templates.Properties.NotifyingValueProperty" 
    Inherits="Zetbox.Generator.MemberTemplate" %>
<%@ Import Namespace="System" %>
<%@ Import Namespace="Zetbox.API" %>
<%@ Import Namespace="Zetbox.API.Server" %>
<%@ Import Namespace="Zetbox.App.Base" %>
<%@ Import Namespace="Zetbox.Generator" %>
<%@ Import Namespace="Zetbox.Generator.Extensions" %>
<%@ Parameter Name="ctx" Type="IZetboxContext" %>
<%@ Parameter Name="serializationList" Type="Serialization.SerializationMembersList" %>
<%@ Parameter Name="type" Type="string" %>
<%@ Parameter Name="name" Type="string" %>
<%@ Parameter Name="modulenamespace" Type="string" %>
<%@ Parameter Name="backingName" Type="string" %>
<%@ Parameter Name="isCalculated" Type="bool" %>
<%@ Parameter Name="disableExport" Type="bool" %>
        // BEGIN <%= this.GetType() %>
<%

    ApplyRequisitesTemplate();

    ApplyAttributesTemplate();

%>
        <%= GetModifiers() %> <%= type %> <%= name %>
        {
            get
            {
<% ApplySecurityCheckTemplate(); %>
                // create local variable to create single point of return
                // for the benefit of down-stream templates
                var __result = <%= backingName %>;
<% ApplyOnGetTemplate(); %>
                return __result;
            }
            set
            {
                if (this.IsReadonly) throw new ReadOnlyObjectException();
<% if (!isCalculated) ApplyOnAllSetTemplate(); %>
                if (<%= backingName %> != value)
                {
                    var __oldValue = <%= backingName %>;
                    var __newValue = value;
<% if (!isCalculated) ApplyPreSetTemplate(); %>
                    NotifyPropertyChanging("<%= name %>", __oldValue, __newValue);
                    <%= backingName %> = __newValue;
                    NotifyPropertyChanged("<%= name %>", __oldValue, __newValue);
<% if (!isCalculated) { %>
                    UpdateChangedInfo = true;
<% } else { %>
			        <%= backingName %>_IsDirty = false;
<% } %>

<% if (!isCalculated) ApplyPostSetTemplate(); %>
                }
				else 
				{
					SetInitializedProperty("<%= name %>");
				}
            }
        }
<% ApplyBackingStoreDefinition(); %>
<% ApplyBackingStoreIsDirtyDefinition(); %>
<% ApplyTailTemplate(); %>
<% AddSerialization(serializationList, name); %>
        // END <%= this.GetType() %>
