<%@ CodeTemplate Language="C#" 
	Name="Properties.PropertyListChangedEvent"
	ClassName="Zetbox.Generator.Templates.Properties.PropertyListChangedEvent" 
	Inherits="Zetbox.Generator.MemberTemplate" %>
<%@ Import Namespace="System" %>
<%@ Import Namespace="Zetbox.API" %>
<%@ Parameter Name="ctx" Type="IZetboxContext" %>
<%@ Parameter Name="eventName" Type="string" %>
<%@ Parameter Name="objType" Type="string" %>
<%= GetModifiers() %> event PropertyListChangedHandler<<%= objType %>> <%= eventName %>;
