<%--
    This file is part of zetbox.

    Zetbox is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as
    published by the Free Software Foundation, either version 3 of
    the License, or (at your option) any later version.

    Zetbox is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU Lesser General Public
    License along with zetbox.  If not, see <http://www.gnu.org/licenses/>.
--%>
<%@ CodeTemplate Language="C#" 
	Name="Properties.PropertyEvents"
	ClassName="Zetbox.Generator.Templates.Properties.PropertyEvents" 
	Inherits="Zetbox.Generator.MemberTemplate" %>
<%@ Import Namespace="System" %>
<%@ Import Namespace="Zetbox.API" %>
<%@ Parameter Name="ctx" Type="IZetboxContext" %>
<%@ Parameter Name="eventName" Type="string" %>
<%@ Parameter Name="propType" Type="string" %>
<%@ Parameter Name="objType" Type="string" %>
<%@ Parameter Name="hasGetters" Type="bool" %>
<%@ Parameter Name="hasSetters" Type="bool" %>
<% if (hasGetters) { %>
		<%= GetModifiers() %> event PropertyGetterHandler<<%= objType %>, <%= propType %>> <%= eventName %>_Getter;
<% } %>
<% if (hasSetters) { %>
		<%= GetModifiers() %> event PropertyPreSetterHandler<<%= objType %>, <%= propType %>> <%= eventName %>_PreSetter;
		<%= GetModifiers() %> event PropertyPostSetterHandler<<%= objType %>, <%= propType %>> <%= eventName %>_PostSetter;
<% } %>