@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Zetbox Http Service</h1>
    <p>Die zetbox ist eine Open-Source-Software zur effizienten und flexiblen Entwicklung, Anpassung und Erweiterung von Geschäftsanwendungen. Das Herzstück bildet eine Integrationsplattform, die das übergreifende Datenmanagement garantiert. Darauf aufbauend kann auf ein System an bereits programmierten Anwendungen zugegriffen werden, die einfach und schnell an die speziellen Kundenbedürfnisse angepasst werden können. Zudem bietet die zetbox ein Portfolio an Komponenten, das als solide Ausgangsbasis für eine kundenspezifische Programmierung von Geschäftsanwendungen dient. Dies macht die zetbox zu einem interessanten Instrument sowohl für Entwickler als auch für Unternehmen.</p>
</div>
