<%@ CodeTemplate Language="C#" 
	Name="Implementation.EfModel.ModelCsdl"
	CodeFile="Implementation.EfModel.ModelCsdl.cs" 
	ClassName="Kistl.Server.Generators.EntityFramework.Implementation.EfModel.ModelCsdl" 
	Inherits="Kistl.Server.Generators.KistlCodeTemplate" %>
<%@ Import Namespace="System" %>
<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="System.Linq" %>
<%@ Import Namespace="Kistl.API" %>
<%@ Import Namespace="Kistl.API.Server" %>
<%@ Import Namespace="Kistl.App.Base" %>
<%@ Import Namespace="Kistl.Server.Generators" %>
<%@ Import Namespace="Kistl.Server.Generators.Extensions" %>
<%@ Parameter Name="ctx" Type="IKistlContext" %>
<?xml version="1.0" encoding="utf-8"?>
<Schema Namespace="Model" Alias="Self" xmlns="http://schemas.microsoft.com/ado/2006/04/edm">
  <EntityContainer Name="Entities">
  
    <!-- EntitySets for all classes -->
<%
	foreach(var name in ctx.GetQuery<ObjectClass>().Select(cls => cls.ClassName))
	{
%>
    <EntitySet Name="<%= name %>" EntityType="Model.<%= name %>" />
<%	}

%>
    <!-- EntitySets for all CollectionEntrys -->
<%
	foreach(var prop in ctx.GetObjectListPropertiesWithStorage())
	{
		string entityName = Construct.PropertyCollectionEntryType(prop).ClassName;
%>
    <EntitySet Name="<%= entityName %>" EntityType="Model.<%= entityName %>" />
<%	}

%>


    <!-- AssociationSets -->
<%
	ApplyAssociationSets();
%>
  </EntityContainer>
  
  <!-- EntityTypes for all base classes -->
<%
	foreach(var cls in ctx.GetBaseClasses())
	{
%>
  <EntityType Name="<%= cls.ClassName %>">
    <Key>
      <PropertyRef Name="ID" />
    </Key>
    <Property Name="ID" Type="Int32" Nullable="false" />
<% ApplyEntityTypeFieldDefs(cls.Properties.Cast<Property>()); %>
  </EntityType>
<%	}

%>

  <!-- EntityTypes for all other classes -->
<%
	foreach(var cls in ctx.GetDerivedClasses())
	{
%>
  <EntityType Name="<%= cls.ClassName %>" BaseType="Model.<%= cls.BaseObjectClass.ClassName %>" >
<% ApplyEntityTypeFieldDefs(cls.Properties.Cast<Property>()); %>
  </EntityType>
<%	}

%>

  <!-- EntityTypes for all CollectionEntrys -->
<%
	foreach(var prop in ctx.GetObjectListPropertiesWithStorage())
	{
		TypeMoniker collectionType = Construct.PropertyCollectionEntryType(prop);
		// TypeMoniker parentType;
		// TypeMoniker childType;
%>
  <!-- <%= prop.GetType().Name %>: <%= prop.ObjectClass.ClassName %>.<%= prop.PropertyName %> -->
  <EntityType Name="<%= collectionType.ClassName %>" >
    <Key>
      <PropertyRef Name="ID" />
    </Key>
    <Property Name="ID" Type="Int32" Nullable="false" />
<%
		{
			// Parent
			TypeMoniker parentType = prop.ObjectClass.GetTypeMoniker();
			TypeMoniker childType = collectionType;
%>
    <NavigationProperty Name="ParentImpl"
                        Relationship="Model.<%= Construct.AssociationName(parentType, childType, "fk_Parent") %>"
                        FromRole="<%= Construct.AssociationChildRoleName(childType) %>"
                        ToRole="<%= Construct.AssociationParentRoleName(parentType) %>" />
<%
			if (prop.IsIndexed)
			{
%>
    <Property Name="ParentIndex" Type="Int32" Nullable="false" />
<%
			}
		}
		
		// Value
		if (prop is ObjectReferenceProperty)
		{
			// ObjectReferenceProperty
			// TODO: IsNullable??
			var info = AssociationInfo.CreateInfo(ctx, prop);
%>
    <NavigationProperty Name="ValueImpl"
                        Relationship="Model.<%= info.AssociationName %>"
                        FromRole="<%= info.Child.RoleName %>"
                        ToRole="<%= info.Parent.RoleName %>" />
<%
		}
		else if (prop is ValueTypeProperty)
		{
			string maxlength = "";
			if (prop is StringProperty)
				maxlength = String.Format("MaxLength=\"{0}\" ", ((StringProperty)prop).Length.ToString());
%>
    <Property Name="Value" Type="<%= Type.GetType(prop.GetPropertyTypeString()).Name %>" <%= maxlength %>Nullable="<%= prop.IsNullable.ToString().ToLowerInvariant() %>" />
<%
		}

		if (prop.NeedsPositionColumn())
		{
%>
    <Property Name="ValueIndex" Type="Int32" Nullable="false" />
<%
		}
%>
  </EntityType>
<%	}

%>

  <!-- ComplexTypes for all structs -->
<%
	foreach(var cls in ctx.GetQuery<Struct>())
	{
%>
  <ComplexType Name="<%= cls.ClassName %>" >
<% ApplyEntityTypeFieldDefs(cls.Properties.Cast<Property>()); %>
  </ComplexType>
<%	}

%>

  <!-- Associations -->
<%
	foreach(var prop in ctx.GetAssociationPropertiesWithStorage())
	{
		var info = AssociationInfo.CreateInfo(ctx, prop);
%>
  <!-- <%= prop.GetType().Name %>: <%= prop.ObjectClass.ClassName %>.<%= prop.PropertyName %> -->
  <Association Name="<%= info.AssociationName %>" >
    <End Role="<%= info.Parent.RoleName %>"
         Type="Model.<%= info.Parent.Type.ClassName %>"
         Multiplicity="<%= info.Parent.ConceptualMultiplicity %>" />
    <End Role="<%= info.Child.RoleName %>"
         Type="Model.<%= info.Child.Type.ClassName %>"
         Multiplicity="<%= info.Child.ConceptualMultiplicity %>" />
  </Association>
<%
		// construct reverse mapping
		if (prop is ObjectReferenceProperty && prop.IsList)
		{
			var refClass = ((ObjectReferenceProperty)prop).ReferenceObjectClass;
			var refType = new TypeMoniker(refClass.GetDataTypeString());
%>
  <!-- Reverse of <%= prop.GetType().Name %>: <%= prop.ObjectClass.ClassName %>.<%= prop.PropertyName %> -->
  <Association Name="<%= Construct.AssociationName(refType, info.CollectionEntry, prop.PropertyName) %>" >
    <End Role="<%= Construct.AssociationParentRoleName(refClass) %>"
         Type="Model.<%= refType.ClassName %>"
         Multiplicity="0..1" />
    <End Role="<%= info.Child.RoleName %>"
         Type="Model.<%= info.Child.Type.ClassName %>"
         Multiplicity="*" />
  </Association>
<%
		}
	}
%>
</Schema>
