<%@ CodeTemplate Language="C#" 
	Name="Implementation.EfModel.ModelCsdlAssociationSet"
	CodeFile="Implementation.EfModel.ModelCsdlAssociationSet.cs" 
	ClassName="Kistl.Server.Generators.EntityFramework.Implementation.EfModel.ModelCsdlAssociationSet" 
	Inherits="Kistl.Server.Generators.KistlCodeTemplate" %>
<%@ Import Namespace="System" %>
<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="System.Linq" %>
<%@ Import Namespace="Kistl.API" %>
<%@ Import Namespace="Kistl.API.Server" %>
<%@ Import Namespace="Kistl.App.Base" %>
<%@ Import Namespace="Kistl.Server.Generators" %>
<%@ Import Namespace="Kistl.Server.Generators.Extensions" %>
<%@ Import Namespace="Kistl.Server.Movables" %>
<%@ Parameter Name="ctx" Type="IKistlContext" %>
<%@ Parameter Name="rel" Type="NewRelation" %>
    <!-- <%= rel.A.Multiplicity %>:<%= rel.B.Multiplicity %> -->
<%
	if (rel.GetPreferredStorage() == StorageHint.Separate)
	{
		string assocNameA = rel.GetCollectionEntryAssociationName(rel.GetEnd(RelationEndRole.A));
		string assocNameB = rel.GetCollectionEntryAssociationName(rel.GetEnd(RelationEndRole.B));
%>
    <AssociationSet Name="<%= assocNameA %>" Association="Model.<%= assocNameA %>" >
      <End Role="<%= rel.A.RoleName %>" EntitySet="<%= rel.A.Type.ClassName %>" />
      <End Role="CollectionEntry" EntitySet="<%= rel.GetCollectionEntryClassName() %>" />
    </AssociationSet>
    <AssociationSet Name="<%= assocNameB %>" Association="Model.<%= assocNameB %>" >
      <End Role="<%= rel.B.RoleName %>" EntitySet="<%= rel.B.Type.ClassName %>" />
      <End Role="CollectionEntry" EntitySet="<%= rel.GetCollectionEntryClassName() %>" />
    </AssociationSet>
<%
	}
	else
	{
		string assocName = rel.GetAssociationName();
%>
    <AssociationSet Name="<%= assocName %>" Association="Model.<%= assocName %>" >
      <End Role="<%= rel.A.RoleName %>" EntitySet="<%= rel.A.Type.ClassName %>" />
      <End Role="<%= rel.B.RoleName %>" EntitySet="<%= rel.B.Type.ClassName %>" />
    </AssociationSet>
<%
	}
%>
