<%@ CodeTemplate Language="C#" 
    Name="Interface.DataTypes.Template"
    ClassName="Kistl.Server.Generators.Templates.Interface.DataTypes.Template" 
    Inherits="Kistl.Server.Generators.KistlCodeTemplate" %>
<%@ Import Namespace="System" %>
<%@ Import Namespace="System.Linq" %>
<%@ Import Namespace="Kistl.API" %>
<%@ Import Namespace="Kistl.API.Server" %>
<%@ Import Namespace="Kistl.App.Base" %>
<%@ Import Namespace="Kistl.Server.Generators" %>
<%@ Import Namespace="Kistl.Server.Generators.Extensions" %>
<%@ Parameter Name="ctx" Type="IKistlContext" %>
<%@ Parameter Name="dataType" Type="Kistl.App.Base.DataType" %>

namespace <%= dataType.Module.Namespace %>
{
    using System;
    using System.Collections.Generic;

    using Kistl.API;

    /// <summary>
    /// <%= dataType.Description %>
    /// </summary>
    public interface <%= dataType.ClassName %> <%= GetInheritance() %> 
    {
<%
    foreach(Property p in dataType.Properties.OrderBy(p => p.PropertyName))
    {
%>

        /// <summary>
        /// <%= p.Description %>
        /// </summary>
<%
        ApplyPropertyTemplate(p);
    }



    foreach(var m in MethodsToGenerate().OrderBy(m => m.MethodName))
    {
%>

        /// <summary>
        /// <%= m.Description %>
        /// </summary>
<%
        ApplyMethodTemplate(m);
    }
%>

    }
}