<%@ CodeTemplate Language="C#" 
	Name="Implementation.ObjectClasses.CalculatedProperty"
	ClassName="Kistl.Server.Generators.Templates.Implementation.ObjectClasses.CalculatedProperty" 
	Inherits="Kistl.Server.Generators.KistlCodeTemplate" %>
<%@ Import Namespace="System" %>
<%@ Import Namespace="Kistl.API" %>
<%@ Parameter Name="ctx" Type="IKistlContext" %>
<%@ Parameter Name="className" Type="string" %>
<%@ Parameter Name="referencedType" Type="string" %>
<%@ Parameter Name="propertyName" Type="String" %>
<%@ Parameter Name="getterEventName" Type="String" %>
		public <%= referencedType %> <%= propertyName %>
		{
			get
			{
				if(<%= getterEventName %> == null)
				{
					return null;
				}

				var e = new PropertyGetterEventArgs<<%= referencedType %>>(null);
				<%= getterEventName %>(this, e);
				return e.Result;
			}
		}
