<%@ CodeTemplate Language="C#" 
	Name="Implementation.ObjectClasses.ListProperty"
	ClassName="Kistl.Server.Generators.Templates.Implementation.ObjectClasses.ListProperty" 
	Inherits="Kistl.Server.Generators.KistlCodeTemplate" %>
<%@ Import Namespace="System" %>
<%@ Import Namespace="Kistl.API" %>
<%@ Import Namespace="Kistl.API.Server" %>
<%@ Import Namespace="Kistl.App.Base" %>
<%@ Import Namespace="Kistl.Server.Generators" %>
<%@ Import Namespace="Kistl.Server.Generators.Extensions" %>
<%@ Parameter Name="ctx" Type="IKistlContext" %>
<%@ Parameter Name="serializationList" Type="SerializationMembersList" %>
<%@ Parameter Name="containingType" Type="DataType" %>
<%@ Parameter Name="name" Type="String" %>
<%@ Parameter Name="property" Type="Property" %>
<%
	ApplyAttributesTemplate();

	var backingName = BackingMemberFromName(name);
%>
   		// <%= this.GetType() %>
        <%= GetModifiers() %> <%= GetPropertyTypeString() %> <%= name %>
        {
            get
            {
                if (<%= backingName %> == null)
                    <%= backingName %> = <%= GetInitialisationExpression() %>;
                return <%= backingName %>;
            }
<%
			ApplySettor();
%>
        }
        private <%= GetBackingTypeString() %> <%= backingName %>;
<%
	AddSerialization(serializationList, name);


	ApplyRequisitesTemplate();
%>
