<%@ CodeTemplate Language="C#" 
	Name="Implementation.ObjectClasses.ObjectReferencePropertySerialization"
	ClassName="Kistl.Server.Generators.Templates.Implementation.ObjectClasses.ObjectReferencePropertySerialization" 
	Inherits="Kistl.Server.Generators.KistlCodeTemplate" %>
<%@ Import Namespace="System" %>
<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="Kistl.API" %>
<%@ Import Namespace="Kistl.API.Server" %>
<%@ Import Namespace="Kistl.App.Base" %>
<%@ Import Namespace="Kistl.Server.Generators" %>
<%@ Import Namespace="Kistl.Server.Generators.Extensions" %>
<%@ Parameter Name="ctx" Type="IKistlContext" %>
<%@ Parameter Name="direction" Type="SerializerDirection" %>
<%@ Parameter Name="streamName" Type="string" %>
<%@ Parameter Name="xmlnamespace" Type="string" %>
<%@ Parameter Name="xmlname" Type="string" %>
<%@ Parameter Name="memberName" Type="string" %>
<%
	switch(direction)
	{
		case SerializerDirection.ToStream:
%>
            BinarySerializer.ToStream(<%= memberName %> != null ? <%= memberName %>.ID : (int?)null, <%= streamName %>);
<%
			break;
		case SerializerDirection.FromStream:
%>
            BinarySerializer.FromStream(out this._fk_<%= memberName %>, <%= streamName %>);
<%
			break;
		case SerializerDirection.ToXmlStream:
%>
            XmlStreamer.ToStream(<%= memberName %> != null ? <%= memberName %>.ID : (int?)null, <%= streamName %>, "<%= xmlname %>", "<%= xmlnamespace %>");
<%			
            break;
		case SerializerDirection.FromXmlStream:
%>
            XmlStreamer.FromStream(ref this._fk_<%= memberName %>, <%= streamName %>, "<%= xmlname %>", "<%= xmlnamespace %>");
<%
            break;
		case SerializerDirection.Export:
%>
            if (modules.Contains("*") || modules.Contains("<%= xmlnamespace %>")) XmlStreamer.ToStream(<%= memberName %> != null ? <%= memberName %>.ExportGuid : (Guid?)null, <%= streamName %>, "<%= xmlname %>", "<%= xmlnamespace %>");
<%			
            break;
		case SerializerDirection.MergeImport: 
%>
            XmlStreamer.FromStream(ref this._fk_guid_<%= memberName %>, <%= streamName %>, "<%= xmlname %>", "<%= xmlnamespace %>");
<%
            break;
		default:
			throw new ArgumentOutOfRangeException("direction");
	}
%>
