<%@ CodeTemplate Language="C#" 
	Name="Implementation.ObjectClasses.ReloadOneReference"
	ClassName="Kistl.Server.Generators.Templates.Implementation.ObjectClasses.ReloadOneReference" 
	Inherits="Kistl.Server.Generators.KistlCodeTemplate" %>
<%@ Import Namespace="System" %>
<%@ Import Namespace="System.Linq" %>
<%@ Import Namespace="Kistl.API" %>
<%@ Import Namespace="Kistl.API.Server" %>
<%@ Import Namespace="Kistl.App.Base" %>
<%@ Import Namespace="Kistl.App.Extensions" %>
<%@ Import Namespace="Kistl.Server.Generators" %>
<%@ Import Namespace="Kistl.Server.Generators.Extensions" %>
<%@ Parameter Name="ctx" Type="IKistlContext" %>
<%@ Parameter Name="referencedInterface" Type="string" %>
<%@ Parameter Name="referencedImplementation" Type="string" %>
<%@ Parameter Name="name" Type="string" %>
<%@ Parameter Name="implName" Type="string" %>
<%@ Parameter Name="fkBackingName" Type="string" %>
<%@ Parameter Name="fkGuidBackingName" Type="string" %>

			if (<%= fkGuidBackingName %>.HasValue)
				<%= implName %> = (<%= referencedImplementation %>)Context.FindPersistenceObject<<%= referencedInterface %>>(<%= fkGuidBackingName %>.Value);
			else if (<%= fkBackingName %>.HasValue)
				<%= implName %> = (<%= referencedImplementation %>)Context.Find<<%= referencedInterface %>>(<%= fkBackingName %>.Value);
			else
				<%= implName %> = null;
