<%@ CodeTemplate Language="C#" 
	Name="Implementation.ObjectClasses.Template"
	CodeFile="Implementation.ObjectClasses.Template.cs" 
	ClassName="Kistl.Server.Generators.Templates.Implementation.ObjectClasses.Template" 
	Inherits="Kistl.Server.Generators.KistlCodeTemplate" %>
<%@ Import Namespace="System" %>
<%@ Import Namespace="Kistl.API" %>
<%@ Import Namespace="Kistl.API.Server" %>
<%@ Import Namespace="Kistl.App.Base" %>
<%@ Import Namespace="Kistl.Server.Generators" %>
<%@ Import Namespace="Kistl.Server.Generators.Extensions" %>

<%@ Parameter Name="DataType" Type="Kistl.App.Base.ObjectClass" %>
namespace <%= DataType.Module.Namespace %>
{
    using System;
    using System.Collections;
    using System.Collections.Generic;
    using System.Collections.ObjectModel;
    using System.Linq;
    using System.Text;
    using System.Xml;
    using System.Xml.Serialization;

    using Kistl.API;

<%
	foreach(string ns in GetAdditionalImports())
	{
%>
	using <%= ns %>;
<%
	}
%>

    /// <summary>
    /// <%= DataType.Description %>
    /// </summary>
<%

	var mungedClassName = MungeClassName(DataType.ClassName);

	ApplyClassAttributeTemplate();
%>
    public class <%= mungedClassName %> <%= GetInheritance() %>
    {

<%
		ApplyIDPropertyTemplate();

		foreach(Property p in DataType.Properties)
		{
%>

        /// <summary>
        /// <%= p.Description %>
        /// </summary>
<%
			ApplyPropertyTemplate(p);
		}

		foreach(var m in MethodsToGenerate())
		{
%>

        /// <summary>
        /// <%= m.Description %>
        /// </summary>
<%
			ApplyMethodTemplate(m);
		}
%>

	}
}