<%@ CodeTemplate Language="C#" 
    Name="ObjectClasses.ProxyClass"
    ClassName="Kistl.DalProvider.NHibernate.Generator.Templates.ObjectClasses.ProxyClass" 
    Inherits="Kistl.Generator.ResourceTemplate" %>
<%@ Import Namespace="System" %>
<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="System.Linq" %>
<%@ Import Namespace="Kistl.API" %>
<%@ Import Namespace="Kistl.API.Server" %>
<%@ Import Namespace="Kistl.App.Base" %>
<%@ Import Namespace="Kistl.App.Extensions" %>
<%@ Import Namespace="Kistl.Generator" %>
<%@ Import Namespace="Kistl.Generator.Extensions" %>
<%@ Parameter Name="ctx" Type="IKistlContext" %>
<%@ Parameter Name="interfaceName" Type="string" %>
<%@ Parameter Name="typeAndNameList" Type="IEnumerable<KeyValuePair<string, string>>" %>

        public interface <%= interfaceName %>Interface
            : IProxyObject
        {
            // int ID { get; set; }

<% foreach(var p in typeAndNameList) { %>
            <%= p.Key %> <%= p.Value %> { get; set; }

<% } %>
        }

        public class <%= interfaceName %>Proxy
            : <%= interfaceName %>Interface, IProxyObject
        {
            public virtual int ID { get; set; }

			public virtual Type Interface { get { return typeof(<%= interfaceName %>Interface); } }
			public virtual Type ZBoxWrapper { get { return typeof(<%= interfaceName %><%= ImplementationSuffix %>); } }

<% foreach(var p in typeAndNameList) { %>
            public virtual <%= p.Key %> <%= p.Value %> { get; set; }

<% } %>
        }
