body 
{
}

div.Dialog
{
	background: white;
	border: solid 1px black;
	padding: 10px;
}

div.ObjectPanelChildren
{
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10px;	
}

.ModalBackground {
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
}

div.Control
{
	clear: left;
	margin-bottom: 10px;
}

input.Control, select.Control
{
  display: block;
  float: left;
  width: 300px; 
}

label 
{ 
  display: block;
  float: left;
  width: 150px; 
  font-weight: bold;
}

table.tblList 
{
	border-width: 1px;
	border-style: outset;
	border-color: gray;
	border-collapse: collapse;
	background-color: white;	
	width: 300px;
}	
table.tblList td 
{
	border-width: 1px;
	padding: 1px;
	border-style: inset;
	border-color: gray;
	background-color: white;
}
table.tblList th
{
	border-width: 1px;
	padding: 1px;
	border-style: inset;
	border-color: gray;
	background-color: white;
}