body 
{
	font-family: Verdana, Tahoma, Arial;
	font-size: 80%;
}

H1
{
	color: #A00;
	font-size: 1.5em;
}

H2
{
	color: #A00;
	font-size: 1.3em;
}

H3
{
	color: #A00;
	font-size: 1.1em;
}

a, strong, .Label
{
	color: #A00;
}

a :visited
{
	color: #A00;
}

.hidden {
  display: block;
  height: 0;
  left: -999em;
  position: absolute;
  overflow: hidden;
  top: -999em;
  width: 0;
}

div#Header
{
	border-bottom: solid 2px #A00;
	margin-bottom: 10px;
}

div#Logo
{
	float: right;
}

div#MainMenu
{
	padding-top: 20px;
	padding-bottom: 5px;
	font-weight: bold;
	color: #A00;
}

div#Caption
{
	height: 40px;
}

a.MainMenuItem
{
	text-decoration: none;
	font-weight: bold;
	color: #A00;
}

a.MainMenuItem :visited
{
	color: #A00;
}

div.Dialog
{
	background: white;
	border: solid 1px black;
	padding: 10px;
}

.ObjectPanelTitle
{	
	height: 1.6em; /* This must be, otherwise headertext is hidden in IE7. Peekaboo Bug?? */
	margin-bottom: 20px;
}

div.ObjectPanelChildren
{
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10px;	
}

.ModalBackground {
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
}

div.Control
{
	clear: left;
	margin-bottom: 10px;
}

input.Control, select.Control
{
  display: block;
  float: left;
  width: 300px; 
}

label 
{ 
  display: block;
  float: left;
  width: 150px; 
  font-weight: bold;
}

.ItemTable 
{
	border-width: 1px;
	border-style: outset;
	border-color: gray;
	border-collapse: collapse;
	background-color: white;
}	
.ItemTable td 
{
	border-width: 1px;
	padding: 2px;
	border-style: inset;
	border-color: gray;
	background-color: white;
}
.ItemTable th
{
	border-width: 1px;
	padding: 1px;
	border-style: inset;
	border-color: gray;
	background-color: #A00;
	color: White;
}
