<%@ CodeTemplate Language="C#" 
	Name="Implementation.CollectionEntries.ValueCollectionEntryParentReference"
	ClassName="Kistl.Server.Generators.ClientObjects.Implementation.CollectionEntries.ValueCollectionEntryParentReference" 
	Inherits="Kistl.Server.Generators.KistlCodeTemplate" %>
<%@ Import Namespace="System" %>
<%@ Import Namespace="Kistl.API" %>
<%@ Import Namespace="Kistl.API.Server" %>
<%@ Import Namespace="Kistl.App.Base" %>
<%@ Import Namespace="Kistl.App.Extensions" %>
<%@ Import Namespace="Kistl.Server.Generators" %>
<%@ Import Namespace="Kistl.Server.Generators.Extensions" %>
<%@ Parameter Name="ctx" Type="IKistlContext" %>
<%@ Parameter Name="serializationList" Type="Templates.Implementation.SerializationMembersList" %>
<%@ Parameter Name="referencedInterface" Type="string" %>
<%@ Parameter Name="propertyName" Type="string" %>
<%@ Parameter Name="moduleNamespace" Type="string" %>
<%
	string cacheName = "_" + propertyName + "Cache";
	string fkName = "fk_" + propertyName;
	string backingName = "_" + fkName;
%>

        public <%= referencedInterface %> <%= propertyName %>
        {
            get
            {
                if (<%= cacheName %> != null && <%= cacheName %>.ID == <%= backingName %>)
                    return <%= cacheName %>;

                if (<%= backingName %>.HasValue)
                    <%= cacheName %> = this.Context.Find<<%= referencedInterface %>>(<%= backingName %>.Value);
                else
                    <%= cacheName %> = null;

                return <%= cacheName %>;
            }
            set
            {
                if (value == null && !<%= backingName %>.HasValue)
                    return;
                if (value != null && <%= backingName %>.HasValue && value.ID == <%= backingName %>.Value)
                    return;

                <%= cacheName %> = value;
                if (value != null)
					<%= fkName %> = value.ID;
				else
					<%= fkName %> = null;
            }
        }
        private <%= referencedInterface %> <%= cacheName %>;

        public int? <%= fkName %>
        {
            get
            {
                return <%= backingName %>;
            }
            set
            {
                if (<%= backingName %> != value)
                {
					var __oldValue = <%= backingName %>;
                    NotifyPropertyChanging("<%= propertyName %>", __oldValue, value);
                    <%= backingName %> = value;
                    NotifyPropertyChanged("<%= propertyName %>", __oldValue, value);
                }
            }
        }

        // backing store for serialization
        private int? <%= backingName %>;
        
<%
	if (serializationList != null)
		serializationList.Add(Kistl.Server.Generators.Templates.Implementation.SerializerType.All, moduleNamespace, propertyName, backingName); // TODO: XML Namespace
%>