<%@ CodeTemplate Language="C#" 
	Name="Implementation.ObjectClasses.CollectionEntry"
	CodeFile="Implementation.ObjectClasses.CollectionEntry.cs" 
	ClassName="Kistl.Server.Generators.EntityFramework.Implementation.ObjectClasses.CollectionEntry" 
	Inherits="Kistl.Server.Generators.KistlCodeTemplate" %>
<%@ Import Namespace="System" %>
<%@ Import Namespace="Kistl.API" %>
<%@ Import Namespace="Kistl.API.Server" %>
<%@ Import Namespace="Kistl.App.Base" %>
<%@ Import Namespace="Kistl.Server.Generators" %>
<%@ Import Namespace="Kistl.Server.Generators.Extensions" %>

<%@ Parameter Name="ctx" Type="IKistlContext" %>
<%@ Parameter Name="Property" Type="ObjectReferenceProperty" %>
<%
	var info = AssociationInfo.CreateInfo(ctx, this.Property);
%>
    [System.Diagnostics.DebuggerDisplay("<%= info.CollectionEntry.ClassName %>")]
    [EdmEntityTypeAttribute(NamespaceName="Model", Name="<%= info.CollectionEntry.ClassName %>")]
    public class <%= info.CollectionEntry.ClassName %><%= Kistl.API.Helper.ImplementationSuffix %>
        : BaseServerCollectionEntry_EntityFramework, ICollectionEntry<<%= Property.ReferenceObjectClass.GetDataTypeString() %>, <%= info.Parent.Type.NameDataObject %>>
    {
    
        [EdmScalarPropertyAttribute(EntityKeyProperty=true, IsNullable=false)]
        public override int ID
        {
            get
            {
                return _ID;
            }
            set
            {
                _ID = value;
            }
        }
        private int _ID;

        [XmlIgnore()]
        [System.Diagnostics.DebuggerBrowsable(System.Diagnostics.DebuggerBrowsableState.Never)]
        public <%= Property.ReferenceObjectClass.GetDataTypeString() %> Value
        {
            get
            {
                return ValueImpl;
            }
            set
            {
                ValueImpl = (<%= Property.ReferenceObjectClass.GetDataTypeString() %><%= Kistl.API.Helper.ImplementationSuffix %>)value;
            }
        }
        
        [XmlIgnore()]
        [System.Diagnostics.DebuggerBrowsable(System.Diagnostics.DebuggerBrowsableState.Never)]
        public <%= info.Parent.Type.NameDataObject %> Parent
        {
            get
            {
                return ParentImpl;
            }
            set
            {
                ParentImpl = (<%= info.Parent.Type.NameDataObject %><%= Kistl.API.Helper.ImplementationSuffix %>)value;
            }
        }
        
        public int fk_Value
        {
            get
            {
                if (this.EntityState.In(System.Data.EntityState.Modified, System.Data.EntityState.Unchanged) && Value != null)
                {
                    _fk_Value = Value.ID;
                }
                return _fk_Value;
            }
            set
            {
                _fk_Value = value;
            }
        }
        private int _fk_Value;
                
        public int fk_Parent
        {
            get
            {
                if (this.EntityState.In(System.Data.EntityState.Modified, System.Data.EntityState.Unchanged) && Parent != null)
                {
                    _fk_Parent = Parent.ID;
                }
                return _fk_Parent;
            }
            set
            {
                _fk_Parent = value;
            }
        }
        private int _fk_Parent;
                
        [EdmRelationshipNavigationPropertyAttribute("Model", "<%= info.AssociationName %>", "<%= info.Child.RoleName %>")]
        public <%= Property.ReferenceObjectClass.GetDataTypeString() %><%= Kistl.API.Helper.ImplementationSuffix %> ValueImpl
        {
            get
            {
                EntityReference<<%= Property.ReferenceObjectClass.GetDataTypeString() %><%= Kistl.API.Helper.ImplementationSuffix %>> r
                    = ((IEntityWithRelationships)(this)).RelationshipManager.GetRelatedReference<<%= Property.ReferenceObjectClass.GetDataTypeString() %><%= Kistl.API.Helper.ImplementationSuffix %>>(
                        "Model.<%= info.AssociationName %>",
                        "<%= info.Child.RoleName %>");
                if (this.EntityState.In(System.Data.EntityState.Modified, System.Data.EntityState.Unchanged) && !r.IsLoaded)
                    r.Load(); 
                return r.Value;
            }
            set
            {
                EntityReference<<%= Property.ReferenceObjectClass.GetDataTypeString() %><%= Kistl.API.Helper.ImplementationSuffix %>> r
                    = ((IEntityWithRelationships)(this)).RelationshipManager.GetRelatedReference<<%= Property.ReferenceObjectClass.GetDataTypeString() %><%= Kistl.API.Helper.ImplementationSuffix %>>(
                        "Model.<%= info.AssociationName %>",
                        "<%= info.Child.RoleName %>");
                if (this.EntityState.In(System.Data.EntityState.Modified, System.Data.EntityState.Unchanged) && !r.IsLoaded)
                    r.Load(); 
                r.Value = (<%= Property.ReferenceObjectClass.GetDataTypeString() %><%= Kistl.API.Helper.ImplementationSuffix %>)value;
            }
        }
        
        [EdmRelationshipNavigationPropertyAttribute("Model", "<%= info.AssociationName %>", "<%= info.Parent.RoleName %>")]
        public <%= info.Parent.Type.NameDataObject %><%= Kistl.API.Helper.ImplementationSuffix %> ParentImpl
        {
            get
            {
                EntityReference<<%= info.Parent.Type.NameDataObject %><%= Kistl.API.Helper.ImplementationSuffix %>> r
                    = ((IEntityWithRelationships)(this)).RelationshipManager.GetRelatedReference<<%= info.Parent.Type.NameDataObject %><%= Kistl.API.Helper.ImplementationSuffix %>>(
                        "Model.<%= info.AssociationName %>",
                        "<%= info.Parent.RoleName %>");
                if (this.EntityState.In(System.Data.EntityState.Modified, System.Data.EntityState.Unchanged) && !r.IsLoaded)
                    r.Load(); 
                return r.Value;
            }
            set
            {
                EntityReference<<%= info.Parent.Type.NameDataObject %><%= Kistl.API.Helper.ImplementationSuffix %>> r
                    = ((IEntityWithRelationships)(this)).RelationshipManager.GetRelatedReference<<%= info.Parent.Type.NameDataObject %><%= Kistl.API.Helper.ImplementationSuffix %>>(
                    "Model.<%= info.AssociationName %>",
                    "<%= info.Parent.RoleName %>");
                if (this.EntityState.In(System.Data.EntityState.Modified, System.Data.EntityState.Unchanged) && !r.IsLoaded)
                    r.Load(); 
                r.Value = (<%= info.Parent.Type.NameDataObject %><%= Kistl.API.Helper.ImplementationSuffix %>)value;
            }
        }
        
        public override void ToStream(System.IO.BinaryWriter sw)
        {
            base.ToStream(sw);
            BinarySerializer.ToBinary(this.fk_Value, sw);
            BinarySerializer.ToBinary(this.fk_Parent, sw);
        }
        
        public override void FromStream(System.IO.BinaryReader sr)
        {
            base.FromStream(sr);
            BinarySerializer.FromBinary(out this._fk_Value, sr);
            BinarySerializer.FromBinary(out this._fk_Parent, sr);
        }
        
    }

