<%@ CodeTemplate Language="C#" 
	Name="Implementation.ObjectClasses.EnumerationPropertyTemplate"
	ClassName="Kistl.Server.Generators.EntityFramework.Implementation.ObjectClasses.EnumerationPropertyTemplate" 
	Inherits="Kistl.Server.Generators.KistlCodeTemplate" %>
<%@ Import Namespace="System" %>
<%@ Import Namespace="Kistl.API" %>
<%@ Import Namespace="Kistl.API.Server" %>
<%@ Import Namespace="Kistl.App.Base" %>
<%@ Import Namespace="Kistl.Server.Generators" %>
<%@ Import Namespace="Kistl.Server.Generators.Extensions" %>
<%@ Parameter Name="ctx" Type="IKistlContext" %>
<%@ Parameter Name="serializationList" Type="Templates.Implementation.SerializationMembersList" %>
<%@ Parameter Name="prop" Type="EnumerationProperty" %>
<%

	string interfaceName = prop.ObjectClass.ClassName;

	string name = prop.PropertyName;
	string efName = name + Kistl.API.Helper.ImplementationSuffix;
	string backingName = "_" + name;

	string enumType = prop.ReferencedTypeAsCSharp();

%>
   		// <%= this.GetType() %>
        // implement the user-visible interface
        public <%= enumType %> <%= name %>
        {
            get
            {
                return <%= backingName %>;
            }
            set
            {
                if (IsReadonly) throw new ReadOnlyObjectException();
                if (<%= backingName %> != value)
                {
					var __oldValue = <%= backingName %>;
                    NotifyPropertyChanging("<%= name %>", "<%= efName %>", __oldValue, value);
                    <%= backingName %> = value;
                    NotifyPropertyChanged("<%= name %>", "<%= efName %>", __oldValue, value);
                }
            }
        }
        
        /// <summary>backing store for <%= name %></summary>
        private <%= enumType %> <%= backingName %>;
        
        /// <summary>EF sees only this property, for <%= name %></summary>
        [XmlIgnore()]
        [EdmScalarProperty()]
        public int <%= efName %>
        {
            get
            {
                return (int)this.<%= name %>;
            }
            set
            {
                this.<%= name %> = (<%= enumType %>)value;
            }
        }
        
<%
    AddSerialization(serializationList);
%>